{% load static %}
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img src="{{request.user.profile_pic}}" alt="User Image" id="currentPhoto1" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
                </a>
                <div class="profile-det-info">
                    <h3>{{request.user.hospital.hospital_name}}</h3>
                    <div class="patient-details">
                        <h5 class="mb-0">{{request.user.hospital.hospital_name}}</h5>
                    </div>
                </div> 
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul> 
                    {% url 'pharmacy_home' as pharmacy_home %}
                    <li {% if request.path == pharmacy_home %} class="active" {% endif %} >
                        <a href="{% url 'pharmacy_home' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard <small class="unread-msg">{{badgetotal}}</small></span>
                        </a>
                    </li>
                    {% comment %} <li>
                        <a href="{% url 'hospital_dashboard' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li> {% endcomment %}
                    {% comment %} <li>
                        <a href="{% url 'hospital_dashboard' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Departments</span>
                        </a>
                    </li> {% endcomment %}
                    
                   
                    {% url 'specialist_hospital' as specialist_hospital %}
                    <li {% if request.path == specialist_hospital %} class="active" {% endif %} >
                        <a href="{% url 'specialist_hospital' %}">
                            <i class="far fa-images"></i>
                            <span>Speciality</span>
                        </a>
                    </li>
                    {% url 'diseaselist' as diseaselist %}
                    <li {% if request.path == diseaselist %} class="active" {% endif %} >
                        <a href="{% url 'diseaselist' %}">
                            <i class="fas fa-procedures"></i>
                            <span>Disease</span>
                        </a>
                    </li>
                    {% url 'appointment' as appointment %}
                    <li {% if request.path == appointment %} class="active" {% endif %}>
                        <a href="{% url 'appointment' %}">
                            <i class="far fa-calendar-check"></i>
                            <span>Appointments <small class="unread-msg">{{badgetotal}}</small></span>
                        </a>
                    </li>
                   
                    
                    
                    <li>
                        <a href="#">
                            <i class="far fa-money-bill-alt"></i>
                            <span>Transactions</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="#">
                            <i class="fas fa-file-invoice"></i>
                            <span>Invoices</span>
                        </a> 
                    </li>
                    
                    {% url 'donor_request' as donor_request %}
                    <li {% if request.path == donor_request %} class="active" {% endif %}>
                        <a href="{% url 'donor_request' %}">
                            <i class="fas fa-user"></i>
                            <span>Request For Donor</span>
                        </a>
                    </li>
                    {% url 'admin_reviews' as admin_reviews %}
                    <li {% if request.path == admin_reviews %} class="active" {% endif %}>
                        <a href="{% url 'admin_reviews' %}">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li>
                    {% url 'time_slot' as time_slot %}
                    <li {% if request.path == time_slot %} class="active" {% endif %}>
                        <a href="{% url 'time_slot' %}">
                            <i class="fas fa-clock"></i>
                            <span>Time Slot</span>
                        </a>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </div>