{% extends './blank-page.html' %} 
{% load static %} 

{% block title %} :: Relief Pro::  Hospitals Edit Blog{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
		<div class="col-md-7 col-lg-8 col-xl-9">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body custom-edit-service">
							

							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="service-fields mb-3">
									<div class="row">
										{% comment %} <div class="col-lg-12">
											<div class="form-group">
												<label  class="form-label">Posted By<span class="text-danger">*</span></label>
												<select class="form-select" aria-label="Default select example" name="doctor">
												<option value="" disabled selected>Select Doctor</option>
												{% for doctor in doctors %}
													<option value="{{doctor.id}}" {% if blog.doctor == doctor %}selected{% endif %}>{{doctor.name_title}} {{doctor.fisrt_name}} {{doctor.last_name}}</option>
												{% endfor %}
												</select>
											</div>
										</div> {% endcomment %}
									</div>
								   </div>
								<div class="service-fields mb-3">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label>Blog Title <span class="text-danger">*</span></label>
											
												<input class="form-control" type="text" name="blog_title"
													id="blog_title"
													value="{{blog.blog_title|title}}"
													required="true">
											</div>
										</div> 
									</div>
								</div>
								
								<div class="service-fields mb-3">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label>Descriptions <span class="text-danger">*</span></label>
												<textarea id="content" class="form-control summernote-simple"
													name="content">{{blog.blog_content|safe}}</textarea>
												
											</div>
										</div>
									</div> 
								</div>
								<div class="service-fields mb-3">
									<div class="row">
										<div class="col-lg-12">
											<div class="service-upload">
												<i class="fas fa-cloud-upload-alt"></i>
												<span>Upload Blog Images *</span>
												<input type="file" name="get_blog_image_url" id="get_blog_image_url.url"
													accept="image/jpeg, image/png, image/gif,">
											</div>
											
										</div>
									</div>
								</div>
								
								<div class="submit-section">
									<button class="btn btn-primary submit-btn" type="submit" name="form_submit"
										value="submit">Submit</button>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	


{% endblock content %}
{% block modal_fade %}


	<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="acc_title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="acc_msg"></p>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-success si_accept_confirm">Yes</a>
					<button type="button" class="btn btn-danger si_accept_cancel"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="deleteNotConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="acc_title">Active Service?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="acc_msg">Service is Booked and Inprogress..</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger si_accept_cancel" data-bs-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

{% endblock modal_fade %}



{% block custom_js %}
<script src="{% static 'newstatic/admin/assets/js/tinymce/tinymce.min.js' %} "></script>
<script>
tinymce.init({
	selector: '#content',
	height: 400
});
</script>
{% endblock custom_js %}
	