{% extends 'hospital/blank-page.html' %} 
{% load static %} 
{% block title %} :: Relief Pro::  Hospitals Ambulance{% endblock title %}

{% block custom_css %}
<style>
span.a {
  text-transform: uppercase;
}

</style> 
{% endblock custom_css %}

{% block content %}
 
    <!-- Body: Body -->       
    <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">All Ambulance</h3>
                    <div class="col-auto d-flex w-sm-100">
                        <button type="button" class="btn btn-primary btn-set-task w-sm-100 " data-bs-toggle="modal" data-bs-target="#depadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add Ambulance</button>
                    </div>
                   
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Ambulance No</th>
                                    <th>Ambulance Type</th> 
                                    <th>With Doctor</th>   
                                    <th>Drive Name</th> 
                                    <th>Occupied</th>   
                                    <th>Actions</th>  
                                </tr>  
                            </thead> 
                            <tbody>
                            {% for ambulance in ambulances %}
                                <tr>
                                    <td>
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#ambulancedetail{{ambulance.id}}">
                                        <img src="{{ambulance.profile_pic}}" class="avatar sm rounded-circle me-2" alt="">
                                    {% if ambulance.is_active %}
                                        <span class="fw-bold a">{{ambulance.vehicle_number}}</span>
                                    {% else %}                                  
                                        <span class="a" data-bs-toggle="tooltip" data-bs-placement="right" title="Inactive">{{ambulance.vehicle_number}}</span>
                                    {% endif %}
                                    </td>
                                    <td>
                                        
                                        <span class="fw-bold ms-1">{{ambulance.vehicle_type}}</span>
                                    </td>
                                    <td>
                                    {% if ambulance.doctor %}
                                        <span class="fw-bold a">{{ambulance.doctor}}</span>
                                    {% else %}
                                        With Out Doctor
                                    {% endif %}
                                    </td>
                                    <td>
                                        {{ambulance.drive_name}}
                                    </td>
                                   
                                    </td>                                   
                                   
                                    {% if room.occupied %}
                                    <td>
                                        <a class="btn btn-danger">Occupied</a>
                                    </td>
                                    {% else%}
                                    <td>
                                            <a href="#" class="btn btn-primary" >Available</a>
                                    </td>
                                    {% endif %}
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#depedit{{ambulance.id}}"><i class="far fa-edit"></i></button>
                                            
                                            <a type="button" class="btn btn-outline-danger deleterow" id="deleteroom" href="{% url 'delete_ambulance' ambulance.id %}" ><i class="far fa-trash-alt"></i><a>

                                        </div>
                                    </td>
                                    
                                   
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>

 
{% endblock content %}
{% block modal_fade %}

<!-- Add room-->
        <div class="modal fade" id="depadd" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel">Add Ambulance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">               
                    <div class="deadline-form">                        
                        <div class="row g-3 mb-3">
                            <div class="col-sm-6">
                               
                                <label for="room_no" class="form-label">Ambulance Vehicle No *</label>
                                <input type="text" class="form-control" placeholder="GJ-FD-01-4512" name="vehicle_number" required style="text-transform:uppercase">
                            </div> 
                            <div class="col-sm-6">
                            <label for="depone" class="form-label">Drive Name *</label>
                            <input type="text" class="form-control" placeholder="Mahesh Patel" name="drive_name" required>
                            </div>                       
                            <div class="col-sm-6">
                            <label for="depone" class="form-label">Drive Phone Number *</label>
                            <input type="text" class="form-control" placeholder="9999999999" name="drive_number" required>
                            </div>                       
                            <div class="col-sm-6">
                            <label for="depone" class="form-label">Charge *</label>
                            <input type="text" class="form-control" placeholder="100"  name="charge" required>
                            </div>                       
                            <div class="col-sm-6">
                                <label  class="form-label">Ambulance Type *</label>
                                <select class="form-select" aria-label="Default select example" name="vehicle_type" required>
                                    <option value="" disabled selected>Select Ambulance Type</option>
                                    <option value="Basic">Basic</option>
                                    <option value="ICU">ICU</option>
                                    <option value="Pediatric">Pediatric</option>
                                    <option value="Deadbody">Deadbody</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label  class="form-label">Doctor With Ambulance (Optional)</label>
                                <select class="form-select" aria-label="Default select example" name="doctor">
                                <option value="" selected>Select Doctor With Ambulance</option>
                                {% for doctor in doctors %}
                                    <option value="{{doctor.id}}">{{doctor.name_title}} {{doctor.fisrt_name}} {{doctor.last_name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12">
                               
                                <label for="room_no" class="form-label">Vehicle Photo *</label>
                                <input type="file" class="form-control" name="profile_pic" required >
                            </div>  <div class="col-sm-6"></div>
                           <div class="col-sm-6">
                            <label class="custom-switch mt-2">
                                <input type="checkbox" name="is_active" id ="is_active" class="custom-switch-input">
                                <span class="custom-switch-indicator" ></span>
                                <span class="custom-switch-description">Ambulance is active ?</span>
                            </label>
                            </div>
                           
                        </div>                        
                    </div>
                    
                   
                </div>
               
                <div class="modal-footer">
                    {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button> {% endcomment %}
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </div>
             </form>
            </div>
        </div>

<!-- Edit Rooms-->
        {% for ambulance in ambulances %}
        <div class="modal fade" id="depedit{{ambulance.id}}" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
            <form method="post" action="{% url 'update_ambulance' %}"  enctype="multipart/form-data">
            {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel">Add Ambulance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">               
                    <div class="deadline-form">                        
                        <div class="row g-3 mb-3">
                            <div class="col-sm-6">
                                <label for="room_no" class="form-label">Ambulance Vehicle No *</label>
                                <input type="text" class="form-control" placeholder="GJ-FD-01-4512" name="vehicle_number" required style="text-transform:uppercase" value="{{ambulance.vehicle_number}}">
                                <input type="hidden" class="form-control" name="id" value="{{ambulance.id}}">
                            </div> 
                            <div class="col-sm-6">
                            <label for="depone" class="form-label">Drive Name *</label>
                            <input type="text" class="form-control" placeholder="Mahesh Patel" name="drive_name" required value="{{ambulance.drive_name}}">
                            </div>                       
                            <div class="col-sm-6">
                            <label for="depone" class="form-label">Drive Phone Number *</label>
                            <input type="text" class="form-control" placeholder="9999999999" name="drive_number" required value="{{ambulance.drive_number}}">
                            </div>                       
                            <div class="col-sm-6">
                            <label for="depone" class="form-label">Charge *</label>
                            <input type="text" class="form-control" placeholder="100"  name="charge" required value="{{ambulance.charge}}">
                            </div>                       
                            <div class="col-sm-6">
                                <label  class="form-label">Ambulance Type *</label>
                                <select class="form-select" aria-label="Default select example" name="vehicle_type" required>
                                    <option value="" disabled selected>Select Ambulance Type</option>
                                    <option value="Basic" {% if ambulance.vehicle_type == "Basic" %}selected{% endif %}>Basic</option>
                                    <option value="ICU" {% if ambulance.vehicle_type == "ICU" %}selected{% endif %}>ICU</option>
                                    <option value="Pediatric" {% if ambulance.vehicle_type == "Pediatric" %}selected{% endif %}>Pediatric</option>
                                    <option value="Deadbody" {% if ambulance.vehicle_type == "Deadbody" %}selected{% endif %}>Deadbody</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label  class="form-label">Doctor With Ambulance (Optional)</label>
                                <select class="form-select" aria-label="Default select example" name="doctor">
                               
                                    <option value="" {% if ambulance.doctor == "" %}selected{% endif %}selected>Select Doctor With Ambulance</option>
                                    {% for doctor in doctors %}
                                        <option value="{{doctor.id}}" {% if ambulance.doctor == doctor %}selected{% endif %}>{{doctor.name_title}} {{doctor.fisrt_name}} {{doctor.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12">
                               
                                <label for="room_no" class="form-label">Vehicle Photo *</label>
                                <input type="file" class="form-control" name="profile_pic">
                            </div> 
                            <div class="col-sm-6"></div>
                           <div class="col-sm-6">
                            <label class="custom-switch mt-2">
                                <input type="checkbox" name="is_active" id ="is_active" class="custom-switch-input" {% if ambulance.is_active  %}checked{% endif %}>
                                <span class="custom-switch-indicator" ></span>
                                <span class="custom-switch-description">Ambulance is active ?</span>
                            </label>
                            </div>
                           
                        </div>                        
                    </div>
                    
                   
                </div>
               
                <div class="modal-footer">
                    {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button> {% endcomment %}
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>

            </div>
             </form>
            </div>
        </div>
        {% endfor %}
<!--detail show ambulance-->
     {% for ambulance in ambulances %}
       <div class="modal fade" id="ambulancedetail{{ambulance.id}}" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Ambulance Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-custom">
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Photo</span>
                                <img class="avatar rounded-circle" src="{{ambulance.profile_pic}}" alt="">
                            </li>
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Vahicle Type</span>
                                {{ambulance.vehicle_type}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Vehicle Number</span>
                                {{ambulance.vehicle_number}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Drive Name</span>
                                {{ambulance.drive_name}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Drive Mobile</span>
                                {{ambulance.drive_number}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Cherges</span>
                                {{ambulance.charge}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Doctor</span>
                                {% if ambulance.doctor %}{{ ambulance.doctor}} {% else %} With Out Doctor{% endif %}
                            </li>
                            <li class="list-group-item">
                                <span class="badge bg-primary me-2">Is Working ?</span>
                                {% if ambulance.is_active %}YES {% else %} NO{% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock modal_fade %}

{% block custom_js %}
<script>
    // project data table
    
    //submit form for add staff
    $(".submit_btn").click(function(){
        var form=new FormData($("#roomadd"));
       // form.append("long_desc",tinyMCE.activeEditor.getContent());
        //Ajax code
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange=function(){
            if(xhr.status==200){
                console.log(xhr.responseText);
            }
        }
        xhr.open("POST","{% url 'manage_room' %}",true);
       
        xhr.send(form);
        
        setTimeout(location.reload.bind(location), 2000);

        //update staff from edit page fade
       

    })
   


    
</script>
{% endblock custom_js %}