 {% extends 'hospital/blank-page.html' %}
 {% load static %}
 {% block title %} Doctor List {% endblock title %}

 {% block custom_css %}<script src="{% static 'newstatic/assets/js/cities.js' %} "></script>{% endblock custom_css %}

 {% block content %}
 <div class="col-md-7 col-lg-8 col-xl-9">
     <div class="doc-review review-listing">
         <div class="row mb-5">
             <div class="col">
                 <ul class="nav nav-tabs nav-tabs-solid">
                     {% comment %} <li class="nav-item">
                         <a class="nav-link active" href="doctor-blog.html">Acitive Blog</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="doctor-pending-blog.html">Pending Blog</a>
                     </li> {% endcomment %}
                 </ul>
             </div> 
             <div class="col-auto">
                 <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addDoctor"><i
                         class="fas fa-plus me-1"></i> Add Doctor</a>
             </div>
         </div>

         <div class="row blog-grid-row">
             {% for doctor in page_obj.object_list %}
             <div class="col-md-6 col-xl-4 col-sm-12">
                <div class="col">
					<div class="card h-100"> 
						<img class="card-img-top" src="{{doctor.profile_pic}}" alt="" height="200" />
						<div class="card-body">
							<h5 class="card-title">Dr. {{doctor.fisrt_name}} {{doctor.last_name}}</h5>
							<p class="card-text">{{doctor.about}}</p>        					
                           
							<div class="btn-group">
                                <button type="button" class="btn btn-primary">Action</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu border-0 shadow py-3 px-2">
                                    <li><a class="dropdown-item py-2 rounded" href = "{% url 'manage_doctorschedule' doctor.id %}">View Schedule</a></li>
                                    <li><a class="dropdown-item py-2 rounded" data-bs-toggle="modal" data-bs-target="#editDoctor{{doctor.id}}">Edit</a></li>
                                        {% if doctor.is_active %}
                                        <li><a class="dropdown-item py-2 rounded" href="{% url 'deactive_doctor' doctor.id %}">Activated</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item py-2 rounded" href="{% url 'active_doctor' doctor.id %}">Deactived</a></li>
                                        {% endif %}
                                    <li><a class="dropdown-item py-2 rounded" href="{% url 'delete_doctor' doctor.id %}">Delete</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    
                                </ul>
                            </div>
						</div>
                        
						<div class="card-footer">
							<small class="text-muted">{{doctor.updated_at}}</small>
						</div>
						
					</div>
				</div>
            </div>
             {% endfor %}

         </div>
       
         <div class="row">
             <div class="col-md-12">
                 <div class="blog-pagination">
                     <nav> 
                         <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                             <li class="page-item">
                                 <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i
                                         class="fas fa-angle-double-left"></i></a>
                             </li>
                             {% endif %}
                            
                             <li class="page-item active">
                                 <a class="page-link" href="#">{{ page_obj.number }}<span class="visually-hidden">(current)</span></a>
                             </li>
                              {% if page_obj.has_next %}
                             <li class="page-item">
                                 <a class="page-link" href="?page={{page_obj.next_page_number}}"><i class="fas fa-angle-double-right"></i></a>
                             </li>
                              {% endif %}
                         </ul>
                     </nav>
                 </div>
             </div>
         </div>

     </div>
 </div>
 {% endblock content %}


 {% block modal_fade %}
  {% for doctor in doctors  %}
        <div class="modal fade bd-example-modal-xl" id="editDoctor{{doctor.id}}" tabindex="-1" aria-labelledby="myLargeModalLabel" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Update Doctor</h4>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"
                            data-original-title="" title=""></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <ul class="nav nav-pills mb-3" role="tablist">
                                    {% comment %} <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#doctoreditdetails{{doctor.id}}" role="tab">Doctor Basic Inforamtion</a></li>
                                    {% comment %} <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">Images</a></li> 
                                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#edittime{{doctor.id}}" role="tab">Consultant Time</a></li> {% endcomment %}
                                    
                                </ul>
                                <form method="post" enctype="multipart/form-data" action="{% url 'update_doctor' %}">
                                {% csrf_token %}
                                <div class="tab-content">                        
                                    <div class="tab-pane fade show active" id="doctoreditdetails{{doctor.id}}" role="tabpanel">
                                        <div class="card mb-3">
                                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                                <h6 class="mb-0 fw-bold ">Doctor Basic Inforamtion</h6>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row g-3 align-items-center media_div_row">
                                                        <div class="col-md-4 profile-av mx-auto text-center w220">
                                                            <label for="profile_pic" class="form-label">Profile Pic</label>
                                                               <br> 
                                                            <img alt="Avatar" src="{{doctor.profile_pic}}" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'" class="avatar xl rounded-circle img-thumbnail shadow-sm img_preview">
                                                            
                                                               
                                                        </div>
                                                        <div class="col-md-8">
                                                            <label for="profile_pic" class="form-label">Select Profile Picture *</label>
                                                            <input type="file" class="form-control select_media" name="profile_pic" value="{{doctor.profile_pic}}">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="fisrt_name" class="form-label">First Name</label>
                                                            <input type="text" class="form-control" id="fisrt_name" name="fisrt_name" value="{{doctor.fisrt_name}}" required>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="last_name" class="form-label">Last Name</label>
                                                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{doctor.last_name}}" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="phone" class="form-label">Phone Number</label>
                                                            <input type="text" class="form-control" id="phone" name="phone" value="{{doctor.phone}}" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="alternate_mobile" class="form-label">Alternate Number</label>
                                                            <input type="text" class="form-control" id="alternate_mobile" name="alternate_mobile" value="{{doctor.alternate_mobile}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="ssn_id" class="form-label">SSN ID </label>
                                                            <input type="text" class="form-control" id="ssn_id" name="ssn_id" value="{{doctor.ssn_id}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="address" class="form-label">Address</label>
                                                            <input type="text" class="form-control" id="address" name="address" value="{{doctor.address}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="city" class="form-label">State</label>
                                                            <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="state" class="form-control" value="{{doctor.state}}">
                                                                {% if doctor.state %}
                                                                    <option value="{{doctor.state}}"selected>{{doctor.state}}</option>
                                                                    {% endif %} 
                                                            </select>
                                                        </div> 
                                                        <div class="col-md-6">
                                                            <label for="state" class="form-label">City</label>
                                                            <select id ="state" class="form-control" name="city" required value="{{doctor.city}}">
                                                                {% if doctor.city %}
                                                                    <option value="{{doctor.city}}"selected>{{doctor.city}}</option>
                                                                    {% endif %}
                                                            </select>
                                                            <script>
                                                                document.getElementById('sts').value="{{doctor.state}}";
                                                            </script>
                                                            <script language="javascript">print_state("sts");</script>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="country" class="form-label">Country</label>
                                                            <input type="text" class="form-control" id="country" name="country" value="{{doctor.country}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="pin_code" class="form-label">Zip Code</label>
                                                            <input type="text" class="form-control" id="pin_code" name="pin_code" value="{{doctor.pin_code}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="pin_code" class="form-label">Date Of Birth</label>
                                                            <input type="date" class="form-control" id="dob" name="dob" value="{{doctor.dob|date:'Y-m-d'}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="email" class="form-label">Email Address</label>
                                                            <input type="email" class="form-control" name="email" value="{{doctor.email}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="joindate" class="form-label">Join Date</label>
                                                            <input type="date" class="form-control" id="joindate" name="joindate" value="{{doctor.joindate|date:'Y-m-d'}}" >
                                                        </div> 
                                                        <div class="col-md-6">
                                                            <label for="opd_charges" class="form-label">OPD Charges</label>
                                                            <input type="text" class="form-control" id="opd_charges" name="opd_charges" value="{{doctor.opd_charges}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="home_charges" class="form-label">Home Visit Charges</label>
                                                            <input type="text" class="form-control" id="home_charges" name="home_charges" value="{{doctor.home_charges}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="home_charges" class="form-label">Online Charges</label>
                                                            <input type="text" class="form-control" id="online_charges" name="online_charges" value="{{doctor.online_charges}}" >
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="emergency_charges-Charges" class="form-label">Emergency Charges</label>
                                                            <input type="text" class="form-control" id="emergency_charges" name="emergency_charges" value="{{doctor.emergency_charges}}">
                                                        </div>                                                                        
                                                        {% comment %} <div class="col-md-6">
                                                            <label for="degree1" class="form-label">Degree</label>
                                                            <div class="tooltips">
                                                            <select class="form-select" aria-label="Default select example" id="degree1" name="degree1" value={{doctor.degree}}>
                                                                <option value="" selected="selected" disabled>Please select degree</option>
                                                               
                                                            </select></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                           <label for="Specialist1" class="form-label">Specialist</label>
                                                           <div class="tooltips" >
                                                            <select class="form-select" aria-label="Default select example" id="specialist1" name="specialist1">
                                                                 <option value="" selected="selected" disabled>Please select Specilist</option>                                                             
                                                            </select></div>
                                                        </div> {% endcomment %}
                                                        <div class="col-md-6">
                                                            <label  class="form-label">Gender</label>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="gender" id="gender" value="Male" {% if doctor.gender == "Male" %}checked{% endif %} >
                                                                        <label class="form-check-label" for="gender">
                                                                        Male
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="gender" id="gender" value="Female" {% if doctor.gender == "Female" %}checked{% endif %}>
                                                                        <label class="form-check-label" for="gender">
                                                                        Female
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                       {% if doctor.is_virtual_available %}
                                                        <div class="col-md-6">
                                                            <label  class="form-label">I-Health Virtual call  Attend?</label>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="is_virtual_available" id="is_virtual_available" value="Yes" {% if doctor.is_virtual_available == 1 %}checked{% endif %} >
                                                                        <label class="form-check-label" for="is_virtual_available">
                                                                        Yes
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="is_virtual_available" id="is_virtual_available" value="No" {% if doctor.is_virtual_available == 0 %}checked{% endif %}>
                                                                        <label class="form-check-label" for="is_virtual_available">
                                                                        No
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       {% endif %}
                                                       
                                                        <div class="col-md-12">
                                                            <label for="speciality" class="form-label">Social link</label>
                                                            <div class="row g-3 row-cols-1 row-cols-lg-3">
                                                                <div class="col"><input type="text" class="form-control" id="speciality"  placeholder="Facebook Link" name="facebook" value="{{doctor.facebook}}"></div>
                                                                <div class="col"><input type="text" class="form-control" id="speciality"  placeholder="Instagram Link" name="instagram" value="{{doctor.instagram}}"></div>
                                                                <div class="col"><input type="text" class="form-control" id="speciality"  placeholder="linkedin Link" name="linkedin" value="{{doctor.linkedin}}"></div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <input type="hidden" id="id" name="id" value="{{doctor.id}}">
                                                    <input type="hidden" id="doctorid" name="doctorid" value="{{doctor.id}}">
                                                    <button type="submit" class="btn btn-primary mt-4">Update Doctor</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
 <div class="modal fade bd-example-modal-xl" id="addDoctor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog  modal-xl" >
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="acc_title"></h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">


                 <form id="myform" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="tab-content">
                         <div class="tab-pane fade show active" id="doctordetails" role="tabpanel">
                             <div class="card mb-3">
                                 <div
                                     class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                     <h6 class="mb-0 fw-bold ">Doctor Basic Inforamtion</h6>
                                 </div>
                                 <div class="card-body">
                                  
                                         <div class="row g-3 align-items-center media_div_row">
                                             <div class="col-md-4 profile-av mx-auto text-center w220">
                                                 <label for="profile_pic" class="form-label">Profile Pic</label>
                                                 <br>
                                                 <img alt="Avatar" style="display:none"
                                                     class="avatar xl rounded-circle img-thumbnail shadow-sm img_preview">


                                             </div>
                                             <div class="col-md-8">
                                                 <label for="profile_pic" class="form-label">Select Profile
                                                     Picture *</label>
                                                 <input type="file" class="form-control select_media" name="profile_pic"
                                                     required>
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="fisrt_name" class="form-label">First Name</label>
                                                 <input type="text" class="form-control" id="fisrt_name"
                                                     name="fisrt_name" required>
                                             </div>

                                             <div class="col-md-6">
                                                 <label for="last_name" class="form-label">Last Name</label>
                                                 <input type="text" class="form-control" id="last_name" name="last_name"
                                                     required>
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="phone" class="form-label">Phone Number</label>
                                                 <input type="text" class="form-control" id="phone" name="phone">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="alternate_mobile" class="form-label">Alternate
                                                     Number</label>
                                                 <input type="text" class="form-control" id="alternate_mobile"
                                                     name="alternate_mobile">
                                             </div> 
                                             <div class="col-md-6">
                                                 <label for="ssn_id" class="form-label">SSN ID </label>
                                                 <input type="text" class="form-control" id="ssn_id" name="ssn_id">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="address" class="form-label">Address</label>
                                                 <input type="text" class="form-control" id="address" name="address">
                                             </div>
                                             <div class="col-md-6">
                                                <label for="city" class="form-label">State</label>
                                                <select onchange="print_city('state1', this.selectedIndex);" id="sts1" name ="state" class="form-control">
                                                   
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="state" class="form-label">City</label>
                                                <select id ="state1" class="form-control" name="city" required >
                                                    
                                                </select>
                                                <script language="javascript">print_state("sts1");</script>
                                            </div>
                                             <div class="col-md-6">
                                                 <label for="country" class="form-label">Country</label>
                                                 <input type="text" class="form-control" id="country" name="country">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="pin_code" class="form-label">Zip Code</label>
                                                 <input type="text" class="form-control" id="pin_code" name="pin_code">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="pin_code" class="form-label">Date Of Birth</label>
                                                 <input type="date" class="form-control" id="dob" name="dob">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="email" class="form-label">Email Address</label>
                                                 <input type="email" class="form-control" id="email" name="email">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="joindate" class="form-label">Join Date</label>
                                                 <input type="date" class="form-control" id="joindate" name="joindate">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="opd_charges" class="form-label">OPD Charges</label>
                                                 <input type="text" class="form-control" id="opd_charges"
                                                     name="opd_charges">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="home_charges" class="form-label">Home Visit
                                                     Charges</label>
                                                 <input type="text" class="form-control" id="home_charges"
                                                     name="home_charges">
                                             </div>
                                             <div class="col-md-6">
                                                <label for="home_charges" class="form-label">Online Charges</label>
                                                <input type="text" class="form-control" id="online_charges" name="online_charges" >
                                            </div>
                                             <div class="col-md-6">
                                                 <label for="emergency_charges-Charges" class="form-label">Emergency
                                                     Charges</label>
                                                 <input type="text" class="form-control" id="emergency_charges"
                                                     name="emergency_charges">
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="degree" class="form-label">Degree</label>
                                                 <div class="tooltips">
                                                     <select class="form-select" aria-label="Default select example"
                                                         id="degree" name="degree">
                                                         <option value="" selected="selected" disabled>Please
                                                             select degree</option>

                                                     </select></div>
                                             </div>
                                             <div class="col-md-6">
                                                 <label for="Specialist" class="form-label">Specialist</label>
                                                 <div class="tooltips">
                                                     <select class="form-select" aria-label="Default select example"
                                                         id="specialist" name="specialist">
                                                         <option value="" selected="selected" disabled>Please
                                                             select Specilist</option>
                                                     </select></div>
                                             </div>
                                             <div class="col-md-6">
                                                 <label class="form-label">Gender</label>
                                                 <div class="row">
                                                     <div class="col-md-6">
                                                         <div class="form-check">
                                                             <input class="form-check-input" type="radio" name="gender"
                                                                 id="gender" value="Male" checked>
                                                             <label class="form-check-label" for="gender">
                                                                 Male
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <div class="form-check">
                                                             <input class="form-check-input" type="radio" name="gender"
                                                                 id="gender" value="Female">
                                                             <label class="form-check-label" for="gender">
                                                                 Female
                                                             </label>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             {% if is_virtual_available_check < 1 %}
                                             <div class="col-md-6">
                                                 <label class="form-label">I-Health Virtual call Attend?</label>
                                                 <div class="row">
                                                     <div class="col-md-6">
                                                         <div class="form-check">
                                                             <input class="form-check-input" type="radio"
                                                                 name="is_virtual_available" id="is_virtual_available1"
                                                                 value="Yes" checked>
                                                             <label class="form-check-label"
                                                                 for="is_virtual_available1">
                                                                 Yes
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <div class="form-check">
                                                             <input class="form-check-input" type="radio"
                                                                 name="is_virtual_available" id="is_virtual_available"
                                                                 value="No">
                                                             <label class="form-check-label" for="is_virtual_available">
                                                                 No
                                                             </label>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             {% endif %}
                                             <div class="col-md-12">
                                                 <label for="speciality" class="form-label">Social link</label>
                                                 <div class="row g-3 row-cols-1 row-cols-lg-3">
                                                     <div class="col"><input type="text" class="form-control"
                                                             id="speciality" placeholder="Facebook Link"
                                                             name="facebook"></div>
                                                     <div class="col"><input type="text" class="form-control"
                                                             id="speciality" placeholder="Instagram Link"
                                                             name="instagram"></div>
                                                     <div class="col"><input type="text" class="form-control"
                                                             id="speciality" placeholder="linkedin Link"
                                                             name="linkedin"></div>
                                                 </div>

                                             </div>
                                         </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary mt-4">Add Doctor</button>
                                   


                                 </div>
                             </div>
                 </form>
            </div>
        </div>
    </div>
 <div class="modal-footer">
     <a href="javascript:;" class="btn btn-success si_accept_confirm">Yes</a>
     <button type="button" class="btn btn-danger si_accept_cancel" data-bs-dismiss="modal">Cancel</button>
 </div>
 </div>
 </div>
 </div>

 <div class="modal fade" id="deleteNotConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="display: none;" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="acc_title">Inactive Service?</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <p id="acc_msg">Service is Booked and Inprogress..</p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-danger si_accept_cancel" data-bs-dismiss="modal">OK</button>
             </div>
         </div>
     </div>
 </div>
 {% endblock modal_fade %}

 {% block custom_js %}
 <script>
    var locations = {

            'MD': {'Anaesthesiology':[], 'Biochemistry':[], 'Community-Health':[],'Dermatology':[], 'Family-Medicine':[], 'Forensic-Medicine':[],'General-Medicine':[], 'Microbiology':[], 'Paediatrics':[],'Palliative-Medicine':[], 'Pathology':[], 'Skin-and-Venereal-diseases':[],'Pharmacology':[], 'Physical-Medicine-and-Rehabilitation':[], 'Physiology':[],'Preventive-and-Social-Medicine':[], 'Psychiatry':[], 'Radio-Diagnosis':[],'Radio-Therapy':[], 'Tuberculosis-and-Respiratory-diseases':[], 'Emergency-and-Critical-care':[],'Nuclear-Medicine':[], 'Transfusion-Medicine':[]},

            'MS': {'Ear-Nose-and-Throat':[], 'General-Surgery':[], 'Ophthalmology':[],'Orthopaedics':[], 'Obstetrics-and-Gynaecology':[], 'Dermatology, Venerology-and-Leprosy':[]},

            'DNB': {'Anaesthesiology':[], 'Anatomy':[], 'Biochemistry':[],'Dermatology':[], 'Emergency-Medicine':[], 'Forensic-Medicine':[],'General-Medicine':[], 'Family-Medicine':[], 'Field-Epidemiology':[],'General-Surgery':[], 'Health-Administration':[], 'Skin-and-Venereal-diseases':[],'Pharmacology':[], 'Physical-Medicine-and-Rehabilitation':[], 'Physiology':[],'Preventive-and-Social-Medicine':[], 'Psychiatry':[], 'Radio-Diagnosis':[],'Radio-Therapy':[], 'Tuberculosis-and-Respiratory-diseases':[], 'Emergency-and-Critical-care':[],'Nuclear-Medicine':[], 'Transfusion-Medicine':[],'Ophthalmology':[],'Orthopaedic-Surgery':[],'Oto-Rhino-Laryngology':[],'Paediatrics':[],'Pathology':[],'Immunohematology-and-transfusion-medicine':[],'Maternal-and-Child-Health':[],'Microbiology':[],'Obstetric-and-Gynecology':[],'Respiratory-diseases':[],'Rural-Surgery':[],'Social-and-Preventive-Medicine':[]},

            'D.M': {'Psychiatry':[],'Cardiac-Anaesthesiology':[],'Cardiology':[],'Haematology':[],'Pharmacology':[],'Anaesthesiology-Pain Medicine-and-Critical-Care':[],'Endocrinology':[],'Gastroenterology':[],'Medicine-and-Microbiology':[],'Onco-Anesthesiology-and Palliative-Medicine':[],'Cardiology':[],'Pulmonary-and-Sleep-disorders':[],'Obstetrics-and-Gynecology':[],'Nuclear-Medicine':[],'Cardiac-Radiology':[],'Paediatrics':[],'Nephrology':[],'Neuro-Anaesthesiology-and-Critical-Care':[],'Neurology':[]},

            'M.Ch': {'Surgery':[],'Cardiothoracic and Vascular Surgery':[],'Gastrointestinal Surgery':[],'Obstetrics and Gynaecology':[],'ENT':[],'Surgery':[],'Neuro Surgery':[],'Pediatric Surgery':[],'Plastic and Reconstructive Surgery':[],'Surgical Oncology':[],'Surgery Trauma Centre':[],'Urology':[]},
    }

    window.onload = function() {
    var degreeSel = document.getElementById("degree");
    var specialistSel = document.getElementById("specialist");
   
    for (var x in locations) {
        degreeSel.options[degreeSel.options.length] = new Option(x);
       
    }
   
    
    degreeSel.onchange = function() {
        //empty Chapters- and Topics- dropdowns
      
        specialistSel.length = 1;
        //display correct values
        for (var y in locations[this.value]) {
            specialistSel.options[specialistSel.options.length] = new Option(y);
        }
    }
     
    }
    var degreeSel1 = document.getElementById("degree1");
    var specialistSel1 = document.getElementById("specialist1");
     for (var a in locations) {
        degreeSel1.options[degreeSel1.options.length] = new Option(a);
       
    }
    degreeSel1.onchange = function() {
        //empty Chapters- and Topics- dropdowns
      
        specialistSel1.length = 1;
        //display correct values
        for (var z in locations[this.value]) {
            specialistSel1.options[specialistSel1.options.length] = new Option(z);
        }
    }

</script>
<script>
$(document).on("change",".select_media",function(){
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        showPreviewMedia(this,img_preview);

    });

    function showPreviewMedia(input,img_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
            img_preview.attr("src",e.target.result);
            img_preview.show();
            img_preview.css({"border":"5px solid primary"});
            img_preview.css({"border-radius":"2px"});
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


 {% endblock custom_js %}