{% load static %}
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img src="{{request.user.profile_pic}}" alt="User Image" id="currentPhoto1" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
                </a>
                <div class="profile-det-info">
                    <h3>{{request.user.hospitals.hopital_name|upper}}</h3>
                    <div class="patient-details">
                        <h5 class="mb-0">{{request.user.hospitals.hopital_name|upper}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    {% url 'doctor_dashboard' as doctor_dashboard %}
                    <li {% if request.path == doctor_dashboard %} class="active" {% endif %} >
                        <a href="{% url 'doctor_dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    {% comment %} <li>
                        <a href="{% url 'hospital_dashboard' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li> {% endcomment %}
                    {% comment %} <li>
                        <a href="{% url 'hospital_dashboard' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Departments</span>
                        </a>
                    </li> {% endcomment %}
                    
                    {% url 'doc_manage_patient' as doc_manage_patient %}
                    <li {% if request.path == doc_manage_patient %} class="active" {% endif %}>
                        <a href="{% url 'doc_manage_patient' %}">
                            <i class="fas fa-user-injured"></i>
                            <span>Doctor Patients</span>
                        </a>
                    </li>
                    {% url 'doc_manage_relief_patient' as doc_manage_relief_patient %}
                    <li {% if request.path == doc_manage_relief_patient %} class="active" {% endif %} >
                        <a href="{% url 'doc_manage_relief_patient' %}">
                            <i class="fas fa-user-injured"></i>
                            <span>Relief Patients</span>
                        </a>
                    </li>                  
                    
                    
                    {% url 'list_blog' as list_blog %}
                    {% url 'add_blog' as add_blog %}
                    {% url 'edit_blog' as edit_blog %}
                    <li {% if request.path == list_blog %} class="active" {% endif %} {% if request.path == add_blog %} class="active" {% endif %} {% if request.path == edit_blog %} class="active" {% endif %} >
                        <a href="{% url 'list_blog' %}">
                            <i class="fas fa-blog"></i>
                            <span>Blogs</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="#">
                            <i class="fas fa-file-invoice"></i>
                            <span>Accounts</span>
                        </a>
                    </li>
                    
                    {% url 'doctor_reviews' as doctor_reviews %}
                    <li {% if request.path == doctor_reviews %} class="active" {% endif %} >
                        <a href="{% url 'doctor_reviews' %}">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li>
                    {% comment %} <li>
                        <a href="#">
                            <i class="fas fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">23</small>
                        </a>
                    </li> {% endcomment %}
                    
                </ul>
            </nav>
        </div>
    </div>