{% extends 'pharmacy/blank-page.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
  
{% block custom_css %}{% endblock custom_css %}

{% block content %}
<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-md-12">
            <div class="card dash-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="100">
                                        <img src="{% static 'newstatic/assets/img/icon-03.png' %}" class="img-fluid"
                                            alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total Orders</h6>
                                    <h3>{{total_order}}</h3>
                                    <p class="text-muted">Till Today </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="100">
                                        <img src="{% static 'newstatic/assets/img/icon-02.png' %}" class="img-fluid"
                                            alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Today's Orders</h6>
                                    <h3>{{total_bookings_today}}</h3>
                                    <p class="text-muted">{% now "DATE_FORMAT" %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="100">
                                        <img src="{% static 'newstatic/assets/img/icon-01.png' %}" class="img-fluid"
                                            alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total Amount</h6>
                                    <h3>{{total_anount}}</h3>
                                    <p class="text-muted">{% now "DATE_FORMAT" %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Patient Appoinment</h4>
            <div class="appointment-tab">

                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                    <li class="nav-item">
                        <a class="nav-link active" href="#upcoming-appointments" data-bs-toggle="tab">Upcoming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#today-appointments" data-bs-toggle="tab">Today</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" onclick = "refesh()"><i class="fas fa-sync-alt"></i></a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane show active" id="upcoming-appointments">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="patient-table" class="table table-hover align-middle mb-0" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Appt ID</th>
                                                <th>Patient Name</th>
                                                <th>Photo</th> 
                                                <th>Appt Date</th>
                                                <th>Type</th>
                                                <th class="text-center">Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                            {% for booking in bookings %}
                                            <tr>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#appt_details{{booking.id}}" tooltip="true" title="view Appoinment">
                                                        #APT00{{booking.id}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="#"
                                                            class="avatar avatar-sm me-2"><img
                                                            class="img-fluid"
                                                                src="{{booking.patient.get_photo_url}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a>
                                                        <a href="#">{{booking.patient.name_title|title }}
                                                            {{booking.patient.patients.fisrt_name|title }}
                                                            {{booking.patient.patients.last_name|title }}
                                                            <span>#PT00{{booking.patient.patients.id}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar clinic-gallery">
                                                        <a href="{{booking.get_prescription_url}}" class="avatar avatar-sm me-2"
																	data-fancybox="gallery">
																	<img src="{{booking.get_prescription_url}}" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'" alt="Feature">
																</a>
                                                        {% comment %} <a href="#"><img
                                                                class="avatar-img rounded-circle img-fluid"
                                                                src="{{booking.get_prescription_url}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a> {% endcomment %}
                                                    </h2>
                                                </td>
                                                <td>{{booking.applied_date}} <span
                                                        class="d-block text-info">{{booking.applied_time|time:"H i a"}}</span>
                                                </td>
 
                                                <td>{{booking.booking_type}}</td>
                                                <td class="text-center">&#x20B9; {{booking.amount}}</td>
                                                <td class="text-end">
                                                    <div class="table-action"> 
                                                    {% if booking.store_invoice_uploaded %}
                                                        <a tooltip="true" title="User has not Paid yet"
                                                        class="btn btn-sm bg-primary-light">
                                                        <i class="fas fa-check"></i> Pending payment 
                                                        </a>
                                                    {% endif %}
                                                    {% if booking.is_amount_paid %}
                                                        <a data-bs-toggle="modal" data-bs-target="#appt_otp{{booking.id}}" tooltip="true" title="Amount paid Check OTP"
                                                        class="btn btn-sm bg-success-light">
                                                        <i class="fas fa-check"></i> Verify 
                                                        </a>
                                                    {% endif %}
                                                    {% if booking.is_applied %}                                                       
                                                        <a href="{% url 'ph_accept_apt' booking.id %}" class="btn btn-sm bg-success-light">   <i class="fas fa-check"></i> Accept</a>
                                                    {% endif %}                        
                                                    {% if booking.is_accepted %} 
                                                        <a type="button" class="btn btn-outline-secondary" id="uploadreport"data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{booking.id}}" data-bs-placement="top" title="Upload Invoice" ><i class="fas fa-upload"></i> Invoice<a>
                                                    {% endif %} 
                                                    {% if  booking.is_otp_verified %}                                                        
                                                        <a type="button" class="btn btn-outline-secondary" href="{{booking.get_store_invoice_url}}" download data-bs-placement="top" title="Download Uploaded Report" ><i class="fas fa-download"></i></a>

                                                        <a type="button" class="btn btn-outline-danger" href="{% url 'ph_reject_apt' booking.id %}" title="Download Uploaded Report" ><i class="fas fa-trash"></i></a>
                                                    
                                                    {% else %}
                                                    <a href="#"
                                                        class="btn btn-sm bg-danger-light">
                                                        <i class="fas fa-times"></i> Cancel
                                                    </a>
                                                    {% endif %}
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="today-appointments">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="patient-table1" class="table table-hover table-center mb-0" style="width: 100%;" >
                                        <thead>
                                            <tr>
                                                <th>Appt ID</th>
                                                <th>Patient Name</th>
                                                <th>Photo</th> 
                                                <th>Appt Date</th>
                                                <th>Type</th>
                                                <th class="text-center">Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                            {% for booking in bookings_now %} 
                                            <tr>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#appt_details{{booking.id}}" tooltip="true" title="view Appoinment">
                                                        #APT00{{booking.id}}
                                                    </a>
                                                </td>
                                                <td> 
                                                    <h2 class="table-avatar">
                                                        <a href="patient-profile.html"
                                                            class="avatar avatar-sm me-2"><img
                                                                class="avatar-img rounded-circle"
                                                                src="{{booking.patient.get_photo_url}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a>
                                                        <a href="patient-profile.html">{{booking.patient.name_title|title }}
                                                            {{booking.patient.patients.fisrt_name|title }}
                                                            {{booking.patient.patients.last_name|title }}
                                                            <span>#PT00{{booking.patient.patients.id}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="#" class="avatar avatar-sm me-2"><img
                                                                class="img-fluid"
                                                                src="{{booking.get_prescription_url}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a>
                                                    </h2>
                                                </td>
                                                <td>{{booking.applied_date}} <span
                                                        class="d-block text-info">{{booking.applied_time|time:"H i a"}}</span>
                                                </td>
 
                                                <td>{{booking.booking_type}}</td>
                                                <td class="text-center">&#x20B9; {{booking.amount}}</td>
                                                <td class="text-end">
                                                    <div class="table-action"> 
                                                    {% if booking.store_invoice_uploaded %}
                                                        <a tooltip="true" title="User has not Paid yet"
                                                        class="btn btn-sm bg-primary-light">
                                                        <i class="fas fa-check"></i> Pending payment 
                                                        </a>
                                                    {% endif %}
                                                    {% if booking.is_amount_paid %}
                                                        <a data-bs-toggle="modal" data-bs-target="#appt_otp{{booking.id}}" tooltip="true" title="Amount paid Check OTP"
                                                        class="btn btn-sm bg-success-light">
                                                        <i class="fas fa-check"></i> Verify 
                                                        </a>
                                                    {% endif %}
                                                    {% if booking.is_applied %}                                                       
                                                        <a href="{% url 'ph_accept_apt' booking.id %}" class="btn btn-sm bg-success-light">   <i class="fas fa-check"></i> Accept</a>
                                                    {% endif %}                        
                                                    {% if booking.is_accepted %} 
                                                        <a type="button" class="btn btn-outline-secondary" id="uploadreport"data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{booking.id}}" data-bs-placement="top" title="Upload Invoice" ><i class="fas fa-upload"></i> Invoice<a>
                                                    {% endif %} 
                                                    {% if  booking.is_otp_verified %}                                                        
                                                        <a type="button" class="btn btn-outline-secondary" href="{{booking.get_store_invoice_url}}" download data-bs-placement="top" title="Download Uploaded Report" ><i class="fas fa-download"></i></a>

                                                        <a type="button" class="btn btn-outline-danger" href="{% url 'ph_reject_apt' booking.id %}" title="Download Uploaded Report" ><i class="fas fa-trash"></i></a>
                                                    
                                                    {% else %}
                                                    <a href="#"
                                                        class="btn btn-sm bg-danger-light">
                                                        <i class="fas fa-times"></i> Cancel
                                                    </a>
                                                    {% endif %}
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block modal_fade %}
{% for booking in  bookings %}
<div class="modal fade custom-modal" id="appt_details{{booking.id}}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-details">
                    <li>
                        <div class="details-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title">#APT00{{booking.id}}</span>
                                    <span class="text">{{booking.applied_date}} {{booking.applied_time}}</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-end">
                                        <button type="button" class="btn bg-success-light btn-sm"
                                            id="topup_status">{{booking.status}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if booking.for_whom %}
                    <li>
                        <span class="title">For Someone:</span>
                        <span class="text">{{booking.for_whom}}</span>
                    </li>
                    {% endif %}
                    <li>
                        <span class="title">Type:</span>
                        <span class="text">{{booking.booking_type}}</span>
                    </li>
                    <li>
                        <span class="title">Status:</span>
                        <span class="text">{{booking.status}}</span>
                    </li>
                    <li>
                        <span class="title">Confirm Date:</span>
                        <span class="text">{{booking.applied_date}}</span>
                    </li>
                    <li>
                        <span class="title">Paid Amount</span>
                        <span class="text">&#x20B9;{{booking.amount}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for booking in  bookings %}
<div class="modal fade custom-modal" id="appt_otp{{booking.id}}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-details">
                    <li>
                        <div class="details-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title">#APT00{{booking.id}}</span>
                                    <span class="text">{{booking.applied_date}} {{booking.applied_time}}</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-end">
                                        <button type="button" class="btn bg-success-light btn-sm"
                                            id="topup_status">{{booking.status}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if booking.for_whom %}
                    <li>
                        <span class="title">For Someone:</span>
                        <span class="text">{{booking.for_whom}}</span>
                    </li>
                    {% endif %}
                    <li>
                        <span class="title">Paid Amount</span>
                        <span class="text">&#x20B9;{{booking.amount}}</span>
                    </li>
                </ul>
            </br>
                <form action="{% url 'ph_accept_otp' booking.id %}" method ="post">
                    {% csrf_token %}
                        <div class="col-md-12">
                            <label class="form-label">Enter 4 Digit OTP Number *</label>
                            <input type="tel" class="form-control" id="otp" name="otp" required="" maxlength="4">                           

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Start Treatment</button>
                            
                        </div>
                        
                        
                    </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for booking in bookings %} 
     <!-- Modal Modal Center-->
        <div class="modal fade" id="exampleModalCenter{{booking.id}}" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <form method="post" action="{% url 'updload_invoice_pharmacy' booking.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Upload Invoice </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div class="deadline-form">                        
                    <div class="row g-3 mb-3">
                        <div class="col-md-12">
                            <label for="formFileMultiple" class="form-label"> Invoice Upload *</label>
                            <input class="form-control" type="file" id="store_invoice" name="store_invoice" onchange="Filevalidation()"  required accept="application/pdf,application/msword,
                            application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </div>
                        <div class="col-md-12">
                            <label for="formFileMultiple" class="form-label"> Totla Amount * </label>
                            <input class="form-control" type="number" id="amount" name="amount"  required>
                        </div>
                        <div class="col-md-12">
                            <label for="formFileMultiple" class="form-label"> File description * </label>
                            <input class="form-control" type="text" id="desc" name="desc"  required>
                        </div>
                        <p id="size"></p>
                    </div>
                </div>   
                </div>
                
                <div class="modal-footer">                
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
            </div>
        </div>
     </div>

    {% endfor %}
{% endblock modal_fade %}

{% block custom_js %}


<script>
$(document).on("change",".select_media",function(){
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        showPreviewMedia(this,img_preview);

    });

    function showPreviewMedia(input,img_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
            img_preview.attr("src",e.target.result);
            img_preview.show();
            img_preview.css({"border":"5px solid primary"});
            img_preview.css({"border-radius":"2px"});
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script>
    
    $(document).ready(function() {
        $('#patient-table')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
            { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
        $('#patient-table1')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
            { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
    });
    
</script>
<script>
   
        Filevalidation = () => {
            const fi = document.getElementById('report');
            // Check if any file is selected.
            if (fi.files.length > 0) {
                console.log("fi.files.item.size")
                for (const i = 0; i <= fi.files.length - 1; i++) {
      
                    const fsize = fi.files.item(i).size;
                    const file = Math.round((fsize / 1024));
                    // The size of the file.
                    if (file >= 10240) {
                        alert( 
                          "File too Big, please select a file less than 10mb");
                          document.getElementById('report').value = "" 
                    }else {
                        document.getElementById('size').innerHTML = '<b>'
                        + file + '</b> KB';
                    }
                }
            }
        }
        function refesh(){
            location.reload();
        }
</script>

{% endblock custom_js %}