{% extends 'lab/blank-page.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-md-12">
            <div class="card dash-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="75">
                                        <img src="{% static 'newstatic/assets/img/icon-01.png' %}" class="img-fluid"
                                            alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total Patient</h6>
                                    <h3>1500</h3>
                                    <p class="text-muted">Till Today</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="65">
                                        <img src="{% static 'newstatic/assets/img/icon-02.png' %}" class="img-fluid"
                                            alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Today Patient</h6>
                                    <h3>160</h3>
                                    <p class="text-muted">06, Nov 2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="50">
                                        <img src="{% static 'newstatic/assets/img/icon-03.png' %}" class="img-fluid"
                                            alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Appoinments</h6>
                                    <h3>85</h3>
                                    <p class="text-muted">06, Apr 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Patient Appoinment</h4>
            <div class="appointment-tab">

                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                    <li class="nav-item">
                        <a class="nav-link active" href="#upcoming-appointments" data-bs-toggle="tab">Upcoming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#today-appointments" data-bs-toggle="tab">Today</a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane show active" id="upcoming-appointments">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="patient-table" class="table table-hover align-middle mb-0" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Appt ID</th>
                                                <th>Patient Name</th>
                                                <th>Doctor Name</th>
                                                <th>Appt Date</th>
                                                <th>Type</th>
                                                <th class="text-center">Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for booking in bookings %}
                                            <tr>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#appt_details{{booking.id}}" tooltip="true" title="view Appoinment">
                                                        #APT00{{booking.id}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="patient-profile.html"
                                                            class="avatar avatar-sm me-2"><img
                                                                class="avatar-img rounded-circle"
                                                                src="{{booking.patient.profile_pic}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a>
                                                        <a href="patient-profile.html">{{booking.patient.name_title|title }}
                                                            {{booking.patient.patients.fisrt_name|title }}
                                                            {{booking.patient.patients.last_name|title }}
                                                            <span>#PT00{{booking.patient.patients.id}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="doctor-profile.html" class="avatar avatar-sm me-2"><img
                                                                class="avatar-img rounded-circle"
                                                                src="{{booking.hospitalstaffdoctor.doctor.profile_pic}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a>
                                                        <a href="patient-profile.html">{{booking.hospitalstaffdoctor.doctor.name_title|title }}
                                                            {{booking.hospitalstaffdoctor.doctor.fisrt_name|title }}
                                                            {{booking.hospitalstaffdoctor.doctor.last_name|title }}
                                                            <span>#DT00{{booking.hospitalstaffdoctor.id}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{booking.applied_date}} <span
                                                        class="d-block text-info">{{booking.applied_time|time:"H i a"}}</span>
                                                </td>
 
                                                <td>{{booking.booking_type}}</td>
                                                <td class="text-center">&#x20B9; {{booking.amount}}</td>
                                                <td class="text-end">
                                                    <div class="table-action">
                                                        {% if booking.is_accepted %}
                                                            <a data-bs-toggle="modal" data-bs-target="#appt_otp{{booking.id}}" tooltip="true" title="Enter OTP"
                                                            class="btn btn-sm bg-primary-light">
                                                            <i class="fas fa-check"></i> Verify
                                                            </a>
                                                        {% endif %}
                                                        {% if booking.is_applied %}                            
                                                            <a href="{% url 'accept_apt' booking.id %}"
                                                                class="btn btn-sm bg-success-light">
                                                                <i class="fas fa-check"></i> Accept
                                                            </a>
                                                        {% endif %}
                                                        <a href="{% url 'reject_apt' booking.id %}"
                                                            class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> Cancel
                                                        </a>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="today-appointments">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="patient-table1" class="table table-hover table-center mb-0" style="width: 100%;" >
                                        <thead>
                                            <tr>
                                                <th>Appt ID</th>
                                                <th>Patient Name</th>
                                                <th>Doctor Name</th>
                                                <th>Appt Date</th>
                                                <th>Type</th>
                                                <th class="text-center">Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                            {% for booking in bookings_now %} 
                                            <tr>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#appt_details{{booking.id}}" tooltip="true" title="view Appoinment">
                                                        #APT00{{booking.id}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="patient-profile.html"
                                                            class="avatar avatar-sm me-2"><img
                                                                class="avatar-img rounded-circle"
                                                                src="{{booking.patient.profile_pic}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a>
                                                        <a href="patient-profile.html">{{booking.patient.name_title|title }}
                                                            {{booking.patient.patients.fisrt_name|title }}
                                                            {{booking.patient.patients.last_name|title }}
                                                            <span>#PT00{{booking.patient.patients.id}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="doctor-profile.html" class="avatar avatar-sm me-2"><img
                                                                class="avatar-img rounded-circle"
                                                                src="{{booking.hospitalstaffdoctor.doctor.profile_pic}}"
                                                                onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
                                                                alt="User Image"></a>
                                                        <a href="patient-profile.html">{{booking.hospitalstaffdoctor.doctor.name_title|title }}
                                                            {{booking.hospitalstaffdoctor.doctor.fisrt_name|title }}
                                                            {{booking.hospitalstaffdoctor.doctor.last_name|title }}
                                                            <span>#DT00{{booking.hospitalstaffdoctor.id}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{booking.applied_date}} <span
                                                        class="d-block text-info">{{booking.applied_time|time:"H i" }}</span>
                                                </td>
 
                                                <td>{{booking.booking_type}}</td>
                                                <td class="text-center">&#x20B9; {{booking.amount}}</td>
                                                <td class="text-end">
                                                    <div class="table-action">
                                                        
                                                        {% if booking.is_accepted %}
                                                            <a data-bs-toggle="modal" data-bs-target="#appt_otp{{booking.id}}" tooltip="true" title="Enter OTP"
                                                            class="btn btn-sm bg-primary-light">
                                                            <i class="fas fa-check"></i> Verify
                                                            </a>
                                                        {% endif %}
                                                        {% if booking.is_applied %}                            
                                                            <a href="{% url 'accept_apt' booking.id %}"
                                                                class="btn btn-sm bg-success-light">
                                                                <i class="fas fa-check"></i> Accept
                                                            </a>
                                                        {% endif %}
                                                        <a href="{% url 'reject_apt' booking.id %}"
                                                            class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> Cancel
                                                        </a>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block modal_fade %}
{% for booking in  bookings %}
<div class="modal fade custom-modal" id="appt_details{{booking.id}}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-details">
                    <li>
                        <div class="details-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title">#APT00{{booking.id}}</span>
                                    <span class="text">{{booking.applied_date}} {{booking.applied_time}}</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-end">
                                        <button type="button" class="btn bg-success-light btn-sm"
                                            id="topup_status">{{booking.status}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if booking.for_whom %}
                    <li>
                        <span class="title">For Someone:</span>
                        <span class="text">{{booking.for_whom}}</span>
                    </li>
                    {% endif %}
                    <li>
                        <span class="title">Type:</span>
                        <span class="text">{{booking.booking_type}}</span>
                    </li>
                    <li>
                        <span class="title">Status:</span>
                        <span class="text">{{booking.status}}</span>
                    </li>
                    <li>
                        <span class="title">Confirm Date:</span>
                        <span class="text">{{booking.applied_date}}</span>
                    </li>
                    <li>
                        <span class="title">Paid Amount</span>
                        <span class="text">&#x20B9;{{booking.amount}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for booking in  bookings %}
<div class="modal fade custom-modal" id="appt_otp{{booking.id}}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-details">
                    <li>
                        <div class="details-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title">#APT00{{booking.id}}</span>
                                    <span class="text">{{booking.applied_date}} {{booking.applied_time}}</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-end">
                                        <button type="button" class="btn bg-success-light btn-sm"
                                            id="topup_status">{{booking.status}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if booking.for_whom %}
                    <li>
                        <span class="title">For Someone:</span>
                        <span class="text">{{booking.for_whom}}</span>
                    </li>
                    {% endif %}
                    <li>
                        <span class="title">Paid Amount</span>
                        <span class="text">&#x20B9;{{booking.amount}}</span>
                    </li>
                </ul>
            </br>
                <form action="{% url 'accept_otp' booking.id %}" method ="post">
                    {% csrf_token %}
                        <div class="col-md-12">
                            <label class="form-label">Enter 4 Digit OTP Number *</label>
                            <input type="tel" class="form-control" id="otp" name="otp" required="" maxlength="4">                           

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Start Treatment</button>
                            
                        </div>
                        
                        
                    </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock modal_fade %}

{% block custom_js %}

<script>
//for medias tab
    $(".add_media").click(function(){
        var media_row=$(".first_media").clone();
        media_row.removeClass("first_media");  
        media_row.replaceAll("src","")
        media_row.find(".select_media").val("");
        media_row.find(".img_preview").attr("src","").css({"border":"none"}).css({"border-radius":"0px"}).hide();
        media_row.find(".video_preview").attr("src","").css({"border":"none"}).css({"border-radius":"0px"}).hide();

        $(".media_div").append(media_row);
    });
    $(".remove_media").click(function(){
        if ($(".media_div").find(".media_div_row").length>1){
            $(".media_div").children().last().remove();
        }
    });

    $(document).on("change",".select_media",function(){
        var media_type=$(this).parents(".media_div_row").find(".media_type").val();
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        var vid_preview=$(this).parents(".media_div_row").find(".video_preview");
        showPreviewMedia(this,media_type,img_preview,vid_preview);

    });

    function showPreviewMedia(input,media_type,img_preview,video_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
                if(media_type=="1"){
                    img_preview.attr("src",e.target.result);
                    img_preview.show();
                    img_preview.css({"border":"5px solid orange"});
                    img_preview.css({"border-radius":"10px"});
                }
                if(media_type=="2"){
                    video_preview.attr("src",e.target.result);
                    video_preview.show();
                    video_preview.css({"border":"5px solid orange"});
                    video_preview.css({"border-radius":"10px"});
                    video_preview.load();
                    video_preview.play();
                    
                }                
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
 //For Treatment
    $(".add_treatment").click(function(){
        var about_row=$(".first_treatment").clone();
        about_row.removeClass("first_treatment");  
        about_row.find(".treatment").val("");
        about_row.find(".treatment_rates").val("");
        $(".treatment_div").append(about_row);
    });
    $(".remove_treatment").click(function(){
        if ($(".treatment_div").find(".treatment_div_row").length>1){
            $(".treatment_div").children().last().remove();
        }
    });
// for Contact details tab
    $(".add_contact").click(function(){
        var about_row=$(".first_contact").clone();
        about_row.removeClass("first_contact");  
        about_row.find(".hospital_email").val("");
        about_row.find(".hospital_mobile").val("");
        $(".contact_div").append(about_row);
    });
    $(".remove_contact").click(function(){
        if ($(".contact_div").find(".coontact_div_row").length>1){
            $(".contact_div").children().last().remove();
        }
    });


// for insurance details tab
    $(".add_insurance").click(function(){
        var about_row=$(".first_insurance").clone();
        about_row.removeClass("first_insurance");  
        about_row.find(".insurance_type").val("");
        about_row.find(".insurance_name").val("");
        $(".insurance_div").append(about_row);
    });
    $(".remove_insurance").click(function(){
        if ($(".insurance_div").find(".insurance_div_row").length>1){
            $(".insurance_div").children().last().remove();
        }
    });

    // for Other Service details tab
    $(".add_other").click(function(){
        var about_row=$(".first_other").clone();
        about_row.removeClass("first_other");  
        about_row.find(".other_service").val("");
        about_row.find(".other_rates").val("");
        $(".other_div").append(about_row);
    });
    $(".remove_other").click(function(){
        if ($(".other_div").find(".other_div_row").length>1){
            $(".other_div").children().last().remove();
        }
    });

    $(".submit_btn").click(function(){
        var form=new FormData($("#myform")[0]);
       // form.append("long_desc",tinyMCE.activeEditor.getContent());

        //Ajax code
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange=function(){
            if(xhr.status==200){
                console.log(xhr.responseText);
            }
        }
        xhr.open("POST","{% url 'lab_update' %}",true);
        $("#progressbar").show();
        
        

        //Updating Prograssbar
        xhr.upload.addEventListener("progress",function(ev){
            if(ev.lengthComputable){
                var percentage=(ev.loaded/ev.total*100|0);
                $("#progressbar").css({"width":""+percentage+"%"}).text("Uploading..."+percentage+"%");
                console.log(percentage);
                
            }
        });
        xhr.send(form);
        setTimeout(location.reload.bind(location), 2000);
       // window.location.href = "{% url 'hospital_dashboard' %}";

    })

</script>

<script>
$(document).on("change",".select_media",function(){
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        showPreviewMedia(this,img_preview);

    });

    function showPreviewMedia(input,img_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
            img_preview.attr("src",e.target.result);
            img_preview.show();
            img_preview.css({"border":"5px solid primary"});
            img_preview.css({"border-radius":"2px"});
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script>
    
    $(document).ready(function() {
        $('#patient-table')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
            { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
        $('#patient-table1')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
            { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
    });
    
</script>
{% endblock custom_js %}