{% extends './blank-page.html' %}
{% load static %}
{% block title %}Patient Signup{% endblock title %}
{% block custom_css %} 
 <link rel="stylesheet" href="{% static 'newstatic/assets/css/bootstrap.min.css' %} ">

    <link rel="stylesheet" href="{% static 'newstatic/assets/css/font-awesome.min.css' %} ">

    <link rel="stylesheet" href="{% static 'newstatic/assets/css/style.css' %} ">
{% endblock custom_css %}
{% block content %}

	<div class="main-wrapper">

		<div class="content login-page pt-0">
			<div class="container-fluid">

				<div class="account-content">
					<div class="row align-items-center">
						<div class="login-right">
							<div class="inner-right-login">
								<div class="login-header">
									<div class="logo-icon">
										<img src="{% static 'newstatic/assets/img/logo.png'%}" alt="">
									</div>
									<div class="step-list">
										<ul>
											<li><a href="#" class="active">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
									
										</ul>
									</div>
									<form id="profile_pic_form"  method="post" enctype="multipart/form-data" action="{% url 'patientregisterstep1' user.id %}">
									{% csrf_token %}
										<div class="profile-pic-col">
											<h3>Profile Picture</h3>
											<div class="profile-pic-upload media_div_row">
												<div class="cam-col ">
													<img src= "{% if user.get_photo_url %}{{user.get_photo_url}}{% else %}{% static 'newstatic/assets/img/icons/camera.svg'%}{% endif %}" id="prof-avatar" alt=""
														class="img-fluid img_preview">
												</div>
												<span>Upload Profile Picture</span>
												<input type="file" class="select_media" id="profile_pic" name="profile_pic">
											</div>
										</div> 
										<div class="mt-5">
											<button 
												class="btn btn-primary w-100 btn-lg login-btn step1_submit">continue
											</button>
										</div>
									</form>
								</div>
							</div>
							<div class="login-bottom-copyright">
								<span>© 2020 Doccure. All rights reserved.</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

{% endblock content %}

{% block custom_js %}
<script>
$(document).on("change",".select_media",function(){
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        showPreviewMedia(this,img_preview);

    });

    function showPreviewMedia(input,img_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
            img_preview.attr("src",e.target.result);
            img_preview.show();
            img_preview.css({"border":"5px solid primary"});
            img_preview.css({"border-radius":"2px"});
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% endblock custom_js %}