{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title %} Relief Pro - Hospital,Labs and Pharmacy Online Booking | Emergency
		Booking{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<link href="{% static 'newstatic/assets/img/favicon.png'%}" rel="icon">

	<link rel="stylesheet" href="{% static 'newstatic/assets/css/bootstrap.min.css'%}">

	<link rel="stylesheet" href="{% static 'newstatic/assets/plugins/fontawesome/css/fontawesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'newstatic/assets/plugins/fontawesome/css/all.min.css'%}">
	<link rel="stylesheet" href="{% static 'newstatic/assets/plugins/apex/apexcharts.css' %}">
	<link rel="stylesheet" href="{% static 'newstatic/assets/css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{% static 'newstatic/assets/plugins/swiper/css/swiper.min.css'%}">
	<link rel="stylesheet" href="{% static 'newstatic/assets/css/style.css'%}">


	<style>
	.header-four .header-nav {
		background-color: #fff;
		border: none;
	}
	</style>
	{% block custom_css %}
	{% endblock custom_css %}
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<div class="main-wrapper">
		{% include 'front/headersnipet.html' %}

		{% block content %}
		{% endblock content %}
		

 
		<footer class="footer">

			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="{% static 'newstatic/assets/img/logo.png'%}" width="200" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. </p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html">Search for Doctors</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="doctor-register.html">Register</a></li>
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="fas fa-map-marker-alt"></i></span>
										<p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
									</div>
									<p>
										<i class="fas fa-phone-alt"></i>
										+1 315 369 5943
									</p>
									<p class="mb-0">
										<i class="fas fa-envelope"></i>
										<a href="cdn-cgi/l/email-protection" class="__cf_email__"
											data-cfemail="c8aca7ababbdbaad88adb0a9a5b8a4ade6aba7a5">[email&#160;protected]</a>
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="footer-bottom">
				<div class="container-fluid">

					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2020 Doccure. All rights reserved.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">

								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="term-condition.html">Terms and Conditions</a></li>
										<li><a href="privacy-policy.html">Policy</a></li>
									</ul>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</footer>

	</div>


	<script data-cfasync="false" src="{% static 'newstatic/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'%}"></script>
	<script src="{% static 'newstatic/assets/js/jquery-3.6.0.min.js'%}"></script>

	<script src="{% static 'newstatic/assets/js/bootstrap.bundle.min.js'%}"></script>	

	<script src="{% static 'newstatic/assets/js/owl.carousel.min.js'%}"></script>
	<script src="{% static 'newstatic/assets/plugins/swiper/js/swiper.min.js'%}"></script>
	<script src="{% static 'newstatic/assets/js/slick.js'%}"></script>
	
	<script src="{% static 'newstatic/assets/js/script.js'%}"></script>


	{% block custom_js %}
	{% endblock custom_js %}
</body>

</html>