
{% load static %} 
		<section class="category-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="set-category">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-01.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Visit a Hospital</h3>
									<p>We hire the best specialists to deliver top-notch diagnostic services for you.
									</p>
									<a href="{% url 'search_hospital' %}" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>01</h1>
						</div>
					</div>
					<div class="col-md-4">
						<div class="set-category light">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-02.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Find a Laboratory</h3>
									<p>We provide the a wide range of medical services, so every person could have the
										opportunity.</p>
									<a href="booking.html" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>02</h1>
						</div>
					</div>
					<div class="col-md-4">
						<div class="set-category lighter">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-03.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Blood Doner</h3>
									<p>We use the first-class medical equipment for timely diagnostics of various
										diseases.</p>
									<a href="booking.html" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>03</h1>
						</div>
					</div>
				</div>
				</br>
				<div class="row">
					<div class="col-md-4">
						<div class="set-category">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-01.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Find a Pharmacy</h3>
									<p>We hire the best specialists to deliver top-notch diagnostic services for you.
									</p>
									<a href="booking.html" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>04</h1>
						</div> 
					</div>
					<div class="col-md-4">
						<div class="set-category light">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-02.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Online Consultancy</h3>
									<p>We provide the a wide range of medical services, so every person could have the
										opportunity.</p>
									<a href="booking.html" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>05</h1>
						</div>
					</div>
					<div class="col-md-4">
						<div class="set-category lighter">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-03.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Find a Ambulance</h3>
									<p>We use the first-class medical equipment for timely diagnostics of various
										diseases.</p>
									<a href="booking.html" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>06</h1>
						</div>
					</div>
				</div>
                </br>
                <div class="row">
					<div class="col-md-6">
						<div class="set-category">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-01.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Find a Doctor For Home-Visit</h3>
									<p>We hire the best specialists to deliver top-notch diagnostic services for you.
									</p>
									<a href="booking.html" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>07</h1>
						</div> 
					</div>
					<div class="col-md-6">
						<div class="set-category light">
							<div class="d-flex align-items-center">
								<div class="img-holder">
									<a href="javascript:void(0);"><img src="{% static 'newstatic/assets/img/icons/set-cat-02.png'%}"
											alt="" /></a>
								</div>
								<div class="info-holder">
									<h3>Our Latest Blogs</h3>
									<p>We provide the a wide range of medical services, so every person could have the
										opportunity.</p>
									<a href="booking.html" class="book-now">Book Now <i
											class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
							<h1>05</h1>
						</div>
					</div>
				</div>
			</div>
		</section>