{% extends './blank-page.html' %}
{% load static %}  
{% block title %} Relief Pro - Hospital,Labs and Pharmacy Online Booking | Emergency
Booking{% endblock title %}

{% block custom_css %} 	
<style>
.header-four .header-nav {
	background-color: #2264c5;
	border: none;
}
</style>
{% endblock custom_css %}


{% block content %} 

		{% include 'front/banner.html' %}
		{% include 'front/category.html' %}


		<section class="clinic-section">
			<div class="container">
				<div class="sec-header">
					<h2>Clinic and Specialities</h2>
					<span class="bottom-border"></span>
				</div>
				<div class="row"> 
					<div class="col-md-12">
						<div class="clinic-slider slider">
						{% for spes in specilist_list %}
							<div class="profile-widget">
								<div class="brower-box">
									<a href="javascript:void(0);">
										<img class="img-fluid" alt="User Image" src="{{spes.specilist.specialist_icon}}">
										<img class="img-fluid hover" alt=""
											src="{{spes.specilist.hover_icon}}" />
									</a>
									<h4>{{spes.specilist.specialist_name}}</h4> 
									<p>{{spes.cet_hospitals}} <span>Hospitals</span></p>
									<a href="{% url 'specilist_hospitals' spes.specilist.id %}" class="arrow"><i class="fas fa-chevron-right"></i></a>
								</div> 
							</div>   
						{% endfor %}
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="book-doctor">
			<div class="container">
				<div class="sec-header">
					<h2>Book Our Best Doctor</h2>
					<span class="bottom-border"></span>
				</div>
				<div class="row"> 
					<div class="col-md-12">
						<div class="book-slider slider">
						{% for hospital in hospitals %}
							<div class="profile-widget">
								<a href="{% url 'hospital_details' hospital.id %}">
									<img src="{{hospital.profile_pic}}" alt="" />
								</a>
								<div class="pro-content">
									<div class="row row-sm">
										{% comment %} <div class="col-md-6">
											<span class="amt">$20 - $50</span>
										</div> {% endcomment %}
										<div class="col-md-6 text-end">
											<a href="#" class="star"><i class="fas fa-star"></i></a>
										</div>
									</div>
									<div class="provider-info">
										<h3><a href="{% url 'hospital_details' hospital.id %}">{{hospital.hopital_name|upper}}</a></h3>
										<div>
											<h5>{{hospital.specialist}} </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
										</div>
										<a href="#" class="side-arrow">
											<i class="fas fa-chevron-right"></i>
										</a>
										<div class="content-info">
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i>{{hospital.city|title}} , {{hospital.country|title}} 
												</li>
												<li>
													{% comment %} <i class="far fa-clock"></i> 450 Consultations {% endcomment %}
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="{% url 'hospital_details' hospital.id%}" class="btn view-btn" tabindex="0">View
														Profile</a>
												</div>
												<div class="col-6">
													<a href="{% url 'hospital_details' hospital.id%}" class="btn book-btn" tabindex="0">Book
														Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
							
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-4">
					<div class="col-md-12 text-center">
						<a href="{% url 'search_hospital' %}" class="view-btn d-inline-block">View More</a>
					</div>
				</div>
			</div>
		</section>

		<section class="book-doctor">
			<div class="container">
				<div class="sec-header">
					<h2>Book Our Best Laboratory</h2>
					<span class="bottom-border"></span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="book-slider slider">
						{% for lab in labs %}
							<div class="profile-widget">
								<a href="{% url 'lab_details' lab.id %}">
									<img src="{{lab.profile_pic}}" alt="" />
								</a>
								<div class="pro-content">
									<div class="row row-sm">
										<div class="col-md-6">
											<span class="amt">$20 - $50</span>
										</div>
										<div class="col-md-6 text-end">
											<a href="#" class="star"><i class="fas fa-star"></i></a>
										</div>
									</div>
									<div class="provider-info">
										<h3><a href="{% url 'lab_details' lab.id %}">{{lab.lab_name|upper}}</a></h3>
										<div>
											<h5>{{lab.specialist}} </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
										</div>
										<a href="#" class="side-arrow">
											<i class="fas fa-chevron-right"></i>
										</a>
										<div class="content-info">
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> {{lab.city|title}} , {{lab.country|title}} 
												</li>
												<li>
													{% comment %} <i class="far fa-clock"></i> 450 Consultations {% endcomment %}
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="{% url 'laboratory_details' lab.id %}" class="btn view-btn" tabindex="0">View
														Profile</a>
												</div>
												<div class="col-6">
													<a href="{% url 'laboratory_details' lab.id %}" class="btn book-btn" tabindex="0">Book
														Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
							
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-4">
					<div class="col-md-12 text-center">
						<a href="{% url 'search_Labs' %}" class="view-btn d-inline-block">View More</a>
					</div>
				</div>
			</div>
		</section>

		<section class="book-doctor">
			<div class="container">
				<div class="sec-header">
					<h2>Book Our Best Pharmacist</h2>
					<span class="bottom-border"></span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="book-slider slider">
						{% for pharmacy in pharmacys %}
							<div class="profile-widget">
								<a href="{% url 'pharmacy_details' pharmacy.id %}">
									<img src="{{pharmacy.profile_pic}}" alt="" />
								</a>
								<div class="pro-content">
									<div class="row row-sm">
										<div class="col-md-6">
											{% comment %} <span class="amt">$20 - $50</span> {% endcomment %}
										</div>
										<div class="col-md-6 text-end">
											<a href="#" class="star"><i class="fas fa-star"></i></a>
										</div>
									</div>
									<div class="provider-info">
										<h3><a href="{% url 'pharmacy_details' pharmacy.id %}">{{pharmacy.pharmacy_name|upper}}</a></h3>
										<div>
											<h5>{{pharmacy.specialist}} </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
										</div>
										<a href="#" class="side-arrow">
											<i class="fas fa-chevron-right"></i>
										</a>
										<div class="content-info">
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> {{pharmacy.city|title}} , {{pharmacy.country|title}} 
												</li>
												<li>
													<i class="far fa-clock"></i> 450 Consultations
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="{% url 'pharmacy_details' pharmacy.id %}" class="btn view-btn" tabindex="0">View
														Profile</a>
												</div>
												<div class="col-6">
													<a href="{% url 'pharmacy_details' pharmacy.id %}" class="btn book-btn" tabindex="0">Book
														Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
							
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-4">
					<div class="col-md-12 text-center">
						<a href="{% url 'search_pharmcy' %}" class="view-btn d-inline-block">View More</a>
					</div>
				</div>
			</div>
		</section>

		


		<section class="patient-select">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="select-box">
							<div class="d-flex align-items-center">
								<div class="image-holder">
									<span>
										<img src="{% static 'newstatic/assets/img/icons/doct-01.png'%}" alt="" />
									</span>
								</div>
								<div>
									<h2>IS IT A HOSPITAL ?</h2>
									<p>The service allows you to get maximum visibility online and to manage
										appointments and contacts coming from the site, in a simple and fast way.</p>
									<a href="{% url 'hospitalsingup' %}" class="book-now">SINGUP</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="select-box theme">
							<div class="d-flex align-items-center">
								<div class="image-holder">
									<span>
										<img src="{% static 'newstatic/assets/img/icons/doct-02.png'%}" alt="" />
									</span>
								</div>
								<div>
									<h2>ARE YOU A PATIENT?</h2>
									<p>Choosing a specialist has never been so fast! You can filter search
										results by location and medical specialization, and book medical examination
										online.</p>
									<a href="{% url 'patientsingup' %}" class="book-now">SINGUP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<div class="select-box">
							<div class="d-flex align-items-center">
								<div class="image-holder">
									<span>
										<img src="{% static 'newstatic/assets/img/icons/doct-01.png'%}" alt="" />
									</span>
								</div>
								<div>
									<h2>IS IT A PHARMACY ?</h2>
									<p>The service allows you to get maximum visibility online and to manage
										appointments and contacts coming from the site, in a simple and fast way.</p>
									<a href="{% url 'pharmacysingup' %}" class="book-now">SINGUP</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="select-box theme">
							<div class="d-flex align-items-center">
								<div class="image-holder">
									<span>
										<img src="{% static 'newstatic/assets/img/icons/doct-02.png'%}" alt="" />
									</span>
								</div>
								<div>
									<h2>IS IT A LABORATORY ?</h2>
									<p>The service allows you to get maximum visibility online and to manage
										appointments and contacts coming from the site, in a simple and fast way.</p>
									<a href="{% url 'labsingup' %}" class="book-now">SINGUP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		 

		<section class="blogs-section">
			<div class="container">
				<div class="sec-header">
					<h2>Our Latest Blogs</h2>
					<span class="bottom-border"></span>
				</div>
				<div class="row">
				{% for blog in blogs %}
					<div class="col-md-6 col-lg-3">
						<div class="blog-wrapper">
							<div class="wrap-image">
								<a href="{% url 'blog_details' blog.id %}">
									<img src="{{blog.blog_image}}" height="200" alt="" />
								</a>
							</div>
							<div class="wrap-content">
								<div class="d-flex">
									{% comment %} <span class="sp-title">Urology</span> {% endcomment %}
									<br>
									<div class="post-author">
										<a href="{% url 'blog_details' blog.id %}">
											<img src="{{blog.doctor.doctor.profile_pic}} " alt="Post Author">
											<span>{{blog.doctor.doctor.fisrt_name}} {{blog.doctor.doctor.last_name}}</span>
										</a>
									</div>
									<p class="date-cart">{{blog.updated_at|date:"d"}} <span>{{blog.updated_at|date:"M Y"}}</span></p>
								</div>
								<div class="wrap-content-body">
									<h3><a href="{% url 'blog_details' blog.id %}" title="{{blog.blog_title|title}}">{{blog.blog_title|title|truncatechars:20}}</a>
									</h3>
									<p>{{blog.blog_content|safe|truncatechars:10}}</p>
									<a href="{% url 'blog_details' blog.id %}" class="read-txt">Read More</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				
				</div>
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<a href="{% url 'blog_list' %}" class="view-btn d-inline-block">View More</a>
					</div>
				</div>
			</div>
		</section>

		
		<section class="our-blog-section Team">
			<div class="container">
				<div class="sec-header">
					<h2>Our Team</h2>
					<span class="bottom-border"></span>
				</div>
				
				<div class="owl-carousel blogs owl-theme">
					<div class="item">
						<div class="our-blogs">
							<div class="blogs-img">
								<a href="#"><img src="{% static 'newstatic/assets/img/blog-1.jpg' %}" alt=""
										class="img-fluid"></a>
								<div class="blogs-overlay d-flex">
									<img src="{% static 'newstatic/assets/img/doctors/doctor-thumb-01.jpg' %} " alt="" class="img-fluid">
									<span class="blogs-writter">Dr. Ruby Perrin</span>
								</div>
							</div>
							<div class="blogs-info">
								<span>Director</span>
								
							</div>
							{% comment %} <div class="blogs-nav">
								<a href="#" class="blogs-btn">Read More</a>
							</div> {% endcomment %}
						</div>
					</div>
					
				</div>
			</div>
		</section>

{% endblock content %}

{% block custom_js %}
	<script src="{% static 'newstatic/assets/js/slick.js'%}"></script>
{% endblock custom_js %}

