 
{% extends 'front/blank-page.html' %}
{% load static %}
{% load humanize %}
{% block title %} Relief Pro - Hospital Profile | Hospital,Labs and Pharmacy Online Booking | Emergency
Booking {% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'newstatic/assets/css/rating.css'%}">
{% endblock custom_css %}

{% block content %}
 
	
		<div class="breadcrumb-bar"> 
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'front_home' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Doctor Profile</h2>
					</div>
				</div>
			</div>
		</div>


		<div class="content">
			<div class="container">

				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<img src="{{lab.profile_pic.url}}" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'" class="img-fluid"
										alt="User Image">
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name">{{lab.lab_name}}</h4>
									{% comment %} <p class="doc-speciality">{{lab.specialist}}</p>
									<p class="doc-department"><img src="{{lab.specialist.hover_icon}}" 
											class="img-fluid" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'" alt="Speciality">Dentist</p>{% endcomment %}
											<div class="rating">
												{% if  rating <= 5 and rating > 4 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
												{% endif %}
												{% if rating <= 4 and rating > 3 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star "></i>
												{% endif %}
												{% if rating <= 3 and rating > 2 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star "></i>
													<i class="fas fa-star "></i>
												{% endif %}
												{% if rating <= 2 and rating > 1 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												{% endif %}
												{% if rating <= 1 and rating > 0 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i> 
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												{% endif %}
												{% if rating == 0 %}
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i> 
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												{% endif %}
												<span class="d-inline-block average-rating">({{total_cmns}})</span>
											</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{lab.city}},{{lab.state}} - <a
												href="javascript:void(0);">Get Directions</a></p>
										<ul class="clinic-gallery">
                                        {% for media in medias %}
                                        {% if media.media_type == "1" %}
											<li>
												<a href="{{media.media_content}}" data-fancybox="gallery">
													<img src="{{media.media_content}}" alt="Feature">
												</a>
											</li>
                                        {% endif %}
										{% endfor %}
										</ul>
									</div>
									<div class="clinic-services">
                                        {% for service in services %}
                                        <span>{{service}}</span>
                                        {% endfor %}
                                        
                                    </div>
								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										{% comment %} <li title="rooms"><i class="fas fa-person-booth"></i>{{T_rooms}} Room</li>
										<li title="ambulances"><i class="fas fa-ambulance"></i>{{T_ambulances}} Ambulance</li>
										<li><i class="fas fa-map-marker-alt"></i> {{hospital.city}},{{hospital.state}}</li> {% endcomment %}
										
									</ul>
								</div>
								
								 <div class="clinic-booking">
									<a class="apt-btn" href="{% url 'lab_bookappoinment' lab.id %}">Book Appointment</a>
								</div> 
							</div>
						</div>
					</div>
				</div>


				<div class="card">
					<div class="card-body pt-0">

						<nav class="user-tabs mb-4">
							<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
								<li class="nav-item">
									<a class="nav-link active" href="#doc_overview" data-bs-toggle="tab">Overview</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#doc_reviews" data-bs-toggle="tab">Reviews</a>
								</li>
							
							</ul>
						</nav>


						<div class="tab-content pt-0">

							<div role="tabpanel" id="doc_overview" class="tab-pane fade show active ">
								<div class="row">
									<div class="col-md-12 col-lg-9">

										<div class="widget about-widget">
											<h4 class="widget-title"><strong>About Lab</strong></h4>
											<p>{{lab.about}}</p>
										</div>
										<div class="widget about-widget">
											<h4 class="widget-title"><strong>Address</strong></h4>
											<p><strong>Address :-</strong> {{lab.address}}, 
												<strong>City:-</strong>{{lab.city}}, <strong>State:-</strong> {{lab.state}},- {{lab.pin_code}}</p>
										</div>

                                   
										<div class="widget education-widget">
											<h4 class="widget-title"><strong>Available Lab Test</strong></h4>
											<div class="experience-box">
												<ul class="experience-list">
                                                    {% for service in services %}
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a class="name">{{service.service_name}}</a>															
																<span class="time">{{service.service_charge}}</span>
															</div>
														</div>
													</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
 
							<div role="tabpanel" id="doc_reviews" class="tab-pane fade">
								<!-- Add icon library -->
								<link rel="stylesheet"
									href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
								<span class="heading">User Rating</span>
									{% if  rating <= 5 and rating > 4 %}
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									{% endif %}
									{% if rating <= 4 and rating > 3 %}
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star "></i>
									{% endif %}
									{% if rating <= 3 and rating > 2 %}
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star "></i>
									<i class="fas fa-star "></i>
									{% endif %}
									{% if rating <= 2 and rating > 1 %}
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									{% endif %}
									{% if rating <= 1 and rating > 0 %}
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									{% endif %}
									{% if rating == 0 %}
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									{% endif %}
								
								<p>{{rating}} average based on {{total_cmns}} reviews.</p>
								<hr style="border:3px solid #f1f1f1">
		
								<div class="row">
									<div class="side">
										<div>5 star</div>
									</div>
									<div class="middle">
										<div class="bar-container">
											<div style="width: {{cmn_5_per}}%; height: 18px; background-color: #04AA6D;"></div>
										</div>
									</div>
									<div class="side right">
										<div>{{cmn_5}}</div>
									</div>
									<div class="side">
										<div>4 star</div>
									</div>
									<div class="middle">
										<div class="bar-container">
											<div style="width: {{cmn_4_per}}%; height: 18px; background-color: #2196F3;"></div>
										</div>
									</div>
									<div class="side right">
										<div>{{cmn_4}}</div>
									</div>
									<div class="side">
										<div>3 star</div>
									</div>
									<div class="middle">
										<div class="bar-container">
											<div style="width: {{cmn_3_per}}%; height: 18px; background-color: #00bcd4;"></div>
										</div>
									</div>
									<div class="side right">
										<div>{{cmn_3}}</div>
									</div>
									<div class="side">
										<div>2 star</div>
									</div>
									<div class="middle">
										<div class="bar-container">
											<div style="width: {{cmn_2_per}}%; height: 18px; background-color: #ff9800;"></div>
										</div>
									</div>
									<div class="side right">
										<div>{{cmn_2}}</div>
									</div>
									<div class="side">
										<div>1 star</div>
									</div>
									<div class="middle">
										<div class="bar-container">
											<div style="width: {{cmn_1_per}}%; height: 18px; background-color: #f44336;"></div>
										</div>
									</div>
									<div class="side right">
										<div>{{cmn_1}}</div>
									</div>
								</div>
								<hr style="border:3px solid #f1f1f1">
								<div class="widget review-listing">
									<ul class="comments-list">
										{% for cmn in cmns %}
										<li>
											<div class="comment">
												<img class="avatar avatar-sm rounded-circle" alt="User Image"
													src="{{cmn.patient.patients.profile_pic.url}}"
													onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
												<div class="comment-body">
													<div class="meta-data">
														<span class="comment-author">{{cmn.patient.name_title}}
															{{cmn.patient.patients.fisrt_name}}
															{{cmn.patient.patients.last_name}}</span>
														<span class="comment-date">Reviewed
															{{cmn.created_date|naturaltime}}</span>
														<div class="review-count rating">
															{% if cmn.rating == 5 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															{% endif %}
															{% if cmn.rating == 4 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star "></i>
															{% endif %}
															{% if cmn.rating == 3 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star "></i>
															<i class="fas fa-star "></i>
															{% endif %}
															{% if cmn.rating == 2 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															{% endif %}
															{% if cmn.rating == 1 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star"></i> 
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															{% endif %}
															{% if cmn.rating == 0 %}
																<i class="fas fa-star"></i>
																<i class="fas fa-star"></i> 
																<i class="fas fa-star"></i>
																<i class="fas fa-star"></i>
																<i class="fas fa-star"></i>
															{% endif %}
														</div>
													</div>
													{% comment %} <p class="recommended"><i class="far fa-thumbs-up"></i> I recommend
														the doctor</p> {% endcomment %}
													<p class="comment-content">
														{{cmn.comment}}
													</p>
												{% comment %} <div class="comment-reply">
														<a class="comment-btn" href="#">
															<i class="fas fa-reply"></i> Reply
														</a>
														<p class="recommend-btn">
															<span>Recommend?</span>
															<a href="#" class="like-btn">
																<i class="far fa-thumbs-up"></i> Yes
															</a>
															<a href="#" class="dislike-btn">
																<i class="far fa-thumbs-down"></i> No
															</a>
														</p>
													</div> 
												</div> {% endcomment %}
											</div>
		
											{% comment %} <ul class="comments-reply">
												<li>
													<div class="comment">
														<img class="avatar avatar-sm rounded-circle" alt="User Image"
															src="assets/img/patients/patient1.jpg">
														<div class="comment-body">
															<div class="meta-data">
																<span class="comment-author">Charlene Reed</span>
																<span class="comment-date">Reviewed 3 Days ago</span>
																<div class="review-count rating">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																</div>
															</div>
															<p class="comment-content">
																Lorem ipsum dolor sit amet, consectetur adipisicing
																elit,
																sed do eiusmod tempor incididunt ut labore et dolore
																magna aliqua.
																Ut enim ad minim veniam.
																Curabitur non nulla sit amet nisl tempus
															</p>
															<div class="comment-reply">
																<a class="comment-btn" href="#">
																	<i class="fas fa-reply"></i> Reply
																</a>
																<p class="recommend-btn">
																	<span>Recommend?</span>
																	<a href="#" class="like-btn">
																		<i class="far fa-thumbs-up"></i> Yes
																	</a>
																	<a href="#" class="dislike-btn">
																		<i class="far fa-thumbs-down"></i> No
																	</a>
																</p>
															</div>
														</div>
													</div>
												</li>
											</ul> {% endcomment %}
		
										</li>
										{% endfor %}
		
		
		
									</ul>
		
									<div class="all-feedback text-center">
										<a href="#" class="btn btn-primary btn-sm">
											Show all feedback <strong>({{total_cmns}})</strong>
										</a>
									</div>
		
								</div>
		
		
								<div class="write-review">
									<h4>Write a review for <strong>{{lab.lab_name|upper}}</strong></h4>
									
									{% if user.is_authenticated %}
									{% if user.user_type == '4' %}
									<form method="post" id="commentFrom" action="{% url 'ratingandcomment' %}">
										{% csrf_token %}
										<div class="form-group"> 
											<label>Review</label>
											<div class="star-rating">
												<input id="star-5" type="radio" name="rating" value="5">
												<label for="star-5" title="5 stars">
													<i class="active fa fa-star"></i>
												</label>
												<input id="star-4" type="radio" name="rating" value="4">
												<label for="star-4" title="4 stars">
													<i class="active fa fa-star"></i>
												</label>
												<input id="star-3" type="radio" name="rating" value="3">
												<label for="star-3" title="3 stars">
													<i class="active fa fa-star"></i>
												</label>
												<input id="star-2" type="radio" name="rating" value="2">
												<label for="star-2" title="2 stars">
													<i class="active fa fa-star"></i>
												</label>
												<input id="star-1" type="radio" name="rating" value="1">
												<label for="star-1" title="1 star">
													<i class="active fa fa-star"></i>
												</label>
											</div>
										</div>
										<div class="form-group">
											<label>Your review</label>
											<textarea id="review_desc" maxlength="100" class="form-control"
												name="comment"></textarea>
												<input type="hidden" value="{{lab.admin.id}}" name="HLP">
												<input type="hidden" value="lab" name="pagename">
												<div class="d-flex justify-content-between mt-3"><small class="text-muted"><span
														id="chars">100</span> characters
													remaining</small></div>
										</div>
										<hr>
										<div class="submit-section">
											<button type="submit" class="btn btn-primary submit-btn">Add Review</button>
										</div>
									</form>
									{% endif %}
									{% else %}
		
									<a class="btn btn-rounded btn-primary"
										href="{% url 'dologin' %}?next={{ request.path|urlencode }}"><i
											class="fas fa-user-circle"></i> login /
										Signup </a>
									{% endif %}
								</div>
		
							</div>						

						</div>
					</div>
				</div>

			</div>
		</div>
		
{% endblock content %}


{% block modal_fade %}

	<div class="modal fade call-modal" id="voice_call">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">

					<div class="call-box incoming-box">
						<div class="call-wrapper">
							<div class="call-inner">
								<div class="call-user">
									<img alt="User Image" src="assets/img/doctors/doctor-thumb-02.jpg"
										class="call-avatar" 
										onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
									<h4>Dr. Darren Elder</h4>
									<span>Connecting...</span>
								</div>
								<div class="call-items">
									<a href="javascript:void(0);" class="btn call-item call-end" data-bs-dismiss="modal"
										aria-label="Close"><i class="material-icons">call_end</i></a>
									<a href="#" class="btn call-item call-start"><i
											class="material-icons">call</i></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="modal fade call-modal" id="video_call">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">

					<div class="call-box incoming-box">
						<div class="call-wrapper">
							<div class="call-inner">
								<div class="call-user">
									<img class="call-avatar" src="assets/img/doctors/doctor-thumb-02.jpg"
										alt="User Image" 
										onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
									<h4>Dr. Darren Elder</h4>
									<span>Calling ...</span>
								</div>
								<div class="call-items">
									<a href="javascript:void(0);" class="btn call-item call-end" data-bs-dismiss="modal"
										aria-label="Close"><i class="material-icons">call_end</i></a>
									<a href="#" class="btn call-item call-start"><i
											class="material-icons">videocam</i></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock modal_fade %}

{% block custom_js %}
{% endblock custom_js %}
