{% extends 'front/blank-page.html' %}
{% load static %} 
{% load humanize %}
{% block title %} Relief Pro - Hospital Profile | Hospital,Labs and Pharmacy Online Booking | Emergency
Booking {% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'newstatic/assets/css/rating.css'%}">
{% endblock custom_css %}

{% block content %}
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'front_home' %}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
					</ol>
				</nav>
				<h2 class="breadcrumb-title">Doctor Profile</h2>
			</div>
		</div>
	</div>
</div>


<div class="content">
	<div class="container">

		<div class="card">
			<div class="card-body">
				<div class="doctor-widget">
					<div class="doc-info-left">
						<div class="doctor-img">
							<img src="{{hospital.profile_pic}}"
								onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
								class="img-fluid" alt="User Image">
						</div>
						<div class="doc-info-cont">
							<h4 class="doc-name">{{hospital.hopital_name|upper}} 
								{% if user.is_authenticated %}
									{% if user.user_type == "1" or user.user_type == "2" or request.user.user_type == "4" %} 
										{% if hospital.is_verified %}
										<button type="button" class="btn-sm btn-rounded btn-primary">Verified</button>
										{% else %}
										<button type="button" class="btn-sm btn-rounded btn-secondary">Not Verify</button>
										{% endif %}
									{% endif %}
								{% endif %}</h4> 
							<p class="doc-speciality">{{hospital.specialist}}</p>
							<p class="doc-department"><img src="{{hospital.specialist.hover_icon}}" class="img-fluid"
									onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
									alt="Speciality">Dentist</p>
							
							<div class="rating">
								{% if  rating <= 5 and rating > 4 %}
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i> 
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
								{% endif %}
								{% if rating <= 4 and rating > 3 %}
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i> 
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star "></i>
								{% endif %}
								{% if rating <= 3 and rating > 2 %}
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i> 
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star "></i>
									<i class="fas fa-star "></i>
								{% endif %}
								{% if rating <= 2 and rating > 1 %}
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i> 
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								{% endif %}
								{% if rating <= 1 and rating > 0 %}
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star"></i> 
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								{% endif %}
								{% if rating == 0 %}
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i> 
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								{% endif %}
								<span class="d-inline-block average-rating">({{total_cmns}})</span>
							</div>
							<div class="clinic-details">
								<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{hospital.city}},
									{{hospital.state}} - <a href="javascript:void(0);">Get Directions</a></p>
								<ul class="clinic-gallery">
									{% for media in medias %}
									{% if media.media_type == "1" %}
									<li>
										<a href="{{media.media_content}}" data-fancybox="gallery">
											<img src="{{media.media_content}}" alt="Feature">
										</a>
									</li>
									{% endif %}
									{% endfor %}
								</ul>
							</div>
							{% comment %} <div class="clinic-services">
								<span>Dental Fillings</span>
								<span>Teeth Whitneing</span>
							</div> {% endcomment %}
						</div>
					</div>
					<div class="doc-info-right">
						<div class="clini-infos">
							<ul>
								<li title="rooms"><i class="fas fa-person-booth"></i>{{T_rooms}} Room</li>
								<li title="ambulances"><i class="fas fa-ambulance"></i>{{T_ambulances}} Ambulance</li>
								<li><i class="fas fa-map-marker-alt"></i> {{hospital.city}},{{hospital.state}}</li>

							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="card">
			<div class="card-body pt-0">

				<nav class="user-tabs mb-4">
					<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
						<li class="nav-item">
							<a class="nav-link" href="#doc_overview" data-bs-toggle="tab">Overview</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#disease" data-bs-toggle="tab">Diseases</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#doctor_list" data-bs-toggle="tab">Doctors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#doc_reviews" data-bs-toggle="tab">Reviews</a>
						</li>
						{% comment %} <li class="nav-item">
							<a class="nav-link" href="#doc_business_hours" data-bs-toggle="tab">Business
								Hours</a>
						</li> {% endcomment %}
					</ul>
				</nav>


				<div class="tab-content pt-0">

					<div role="tabpanel" id="doc_overview" class="tab-pane fade ">
						<div class="row">
							<div class="col-md-12 col-lg-9">

								<div class="widget about-widget">
									<h4 class="widget-title">About Us</h4>
									<p>{{hospital.about}}</p>
								</div>
								<div class="row">
									<div class="col-12">
										<div class="widget experience-widget">
											<h4 class="widget-title">Insurance Accepted</h4>
											<div class="experience-box">
												<ul class="experience-list">
													{% for insurance in insurances %}
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a class="name">{{insurance.insurance_name}} </a>
																<span class="time">{% if insurance.insurance_type == "1"  %}Cashless {% else %}No Cashless{% endif %}</span>
															</div>
														</div>
													</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-6">
										<div class="widget education-widget">
											<h4 class="widget-title">Rooms</h4>
											<div class="experience-box">
												<ul class="experience-list">
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a class="name">Total Rooms</a>
																<span class="time">{{T_rooms}}</span>
																<a class="name">Available Rooms</a>
																<span class="time">{{A_rooms}}</span>
															</div>
														</div>
													</li>

												</ul>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="widget experience-widget">
											<h4 class="widget-title">Ambulances</h4>
											<div class="experience-box">
												<ul class="experience-list">
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a class="name">Total Ambulance</a>
																<span class="time">{{T_ambulances}}</span>
																<a class="name">Available Ambulance</a>
																<span class="time">{{A_ambulances}}</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-6">
										<div class="widget experience-widget">
											<h4 class="widget-title">Staff</h4>
											<div class="experience-box">
												<ul class="experience-list">
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a class="name">Total Staff</a>
																<span class="time">{{T_doctor}}</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="widget experience-widget">
											<h4 class="widget-title">Patients</h4>
											<div class="experience-box">
												<ul class="experience-list">
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a class="name">Total Patients</a>
																<span class="time">{{T_patient}}</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							
							</div>
						</div>
					</div>

					<div role="tabpanel" id="disease" class="tab-pane fade ">
						<div class="row">
							<div class="col-md-12 col-lg-9">

								<div class="widget about-widget">
									<h4 class="widget-title">Taken Care</h4>
									<p>{{hospital.about}}</p>
								</div>


								<div class="widget education-widget">
									<h4 class="widget-title">Diseases {{T_diseases}}</h4>
									<div class="experience-box">
										<ul class="experience-list">
											{% for disease in diseases %}
											<li>
												<div class="experience-user">
													<div class="before-circle"></div>
												</div>
												<div class="experience-content">
													<div class="timeline-content">														
														<a class="name">{{disease.disease.name}}</a>
														<span class="time">{{disease.disease.desc}}</span>														
													</div>
												</div>
											</li>
											{% endfor %}

										</ul>
									</div>
								</div>


							</div>
						</div>
					</div>

					<div role="tabpanel" id="doctor_list" class="tab-pane fade show active">
						{% for doctor in doctors %}
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<img src="{{doctor.profile_pic}}"
												onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
												class="img-fluid" alt="User Image">
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name">Dr. {{doctor.fisrt_name}}
												{{doctor.last_name}}</h4>
											<p class="doc-speciality">{{doctor.specialist}}</p>
											<p class="doc-department"><img src="{{doctor.profile_pic}}"
													onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
													class="img-fluid" alt="Speciality">{{doctor.specialist}}</p>
													<div class="rating">
														{% if  drating <= 5 and drating > 4 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
														{% endif %}
														{% if drating <= 4 and drating > 3 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star "></i>
														{% endif %}
														{% if drating <= 3 and drating > 2 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star "></i>
															<i class="fas fa-star "></i>
														{% endif %}
														{% if rating <= 2 and rating > 1 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i> 
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
														{% endif %}
														{% if drating <= 1 and drating > 0 %}
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star"></i> 
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
														{% endif %}
														{% if drating == 0 %}
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i> 
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
														{% endif %}
														{% if total_dcmns %}
														<span class="d-inline-block average-rating">({{total_dcmns}})</span>{% endif %}
													</div>
										</div>
										
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="fas fa-first-aid"></i>OPD &#8377;{{doctor.opd_charges}}
												</li>
												<li><i class="fas fa-first-aid"></i>Emergency
													{% if doctor.emergency_charges %}&#8377;{{doctor.emergency_charges}}{% else %}
													NA {% endif %} </li>
												<li><i class="fas fa-home"></i>Home Visit {% if doctor.home_charges %}
													&#8377;{{doctor.home_charges}}{% else %} NA {% endif %} </li>
												<li><i class="fas fa-video"></i>Online {% if doctor.online_charges %}
													&#8377;{{doctor.online_charges}}{% else %} NA {% endif %}</li>
											</ul>
										</div>
										<div class="doctor-action">
											{% if doctor.emergency_charges %}
											<a href="javascript:void(0)" class="btn btn-white call-btn"
												data-bs-toggle="modal" data-bs-target="#voice_call">
												<i class="fas fa-first-aid"></i>

											</a>
											{% endif %}
											{% if doctor.home_charges %}
											<a href="javascript:void(0)" class="btn btn-white call-btn"
												data-bs-toggle="modal" data-bs-target="#voice_call">
												<i class="fas fa-home"></i>
											</a>
											{% endif %}
											{% if doctor.is_virtual_available %}
											<a href="javascript:void(0)" class="btn btn-white call-btn"
												data-bs-toggle="modal" data-bs-target="#video_call">
												<i class="fas fa-video"></i>
											</a>
											{% endif %}

										</div>
										<div class="clinic-booking">
											<a class="apt-btn"
												href="{% url 'doctor_details' doctor.id %}">Book
												Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}


					</div>
					
				

					<div role="tabpanel" id="doc_reviews" class="tab-pane fade">
						<!-- Add icon library -->
						<link rel="stylesheet"
							href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

						<span class="heading">User Rating</span>
						{% if  rating <= 5 and rating > 4 %}
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								{% endif %}
								{% if rating <= 4 and rating > 3 %}
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star "></i>
								{% endif %}
								{% if rating <= 3 and rating > 2 %}
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star "></i>
								<i class="fas fa-star "></i>
								{% endif %}
								{% if rating <= 2 and rating > 1 %}
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								{% endif %}
								{% if rating <= 1 and rating > 0 %}
								<i class="fas fa-star checked"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								{% endif %}
						<p>{{rating}} average based on {{total_cmns}} reviews.</p>
						<hr style="border:3px solid #f1f1f1">

						<div class="row">
							<div class="side">
								<div>5 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div style="width: {{cmn_5_per}}%; height: 18px; background-color: #04AA6D;"></div>
								</div>
							</div>
							<div class="side right">
								<div>{{cmn_5}}</div>
							</div>
							<div class="side">
								<div>4 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div style="width: {{cmn_4_per}}%; height: 18px; background-color: #2196F3;"></div>
								</div>
							</div>
							<div class="side right">
								<div>{{cmn_4}}</div>
							</div>
							<div class="side">
								<div>3 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div style="width: {{cmn_3_per}}%; height: 18px; background-color: #00bcd4;"></div>
								</div>
							</div>
							<div class="side right">
								<div>{{cmn_3}}</div>
							</div>
							<div class="side">
								<div>2 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div style="width: {{cmn_2_per}}%; height: 18px; background-color: #ff9800;"></div>
								</div>
							</div>
							<div class="side right">
								<div>{{cmn_2}}</div>
							</div>
							<div class="side">
								<div>1 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div style="width: {{cmn_1_per}}%; height: 18px; background-color: #f44336;"></div>
								</div>
							</div>
							<div class="side right">
								<div>{{cmn_1}}</div>
							</div>
						</div>
						<hr style="border:3px solid #f1f1f1">
						<div class="widget review-listing">
							<ul class="comments-list">
								{% for cmn in cmns %}
								<li>
									<div class="comment">
										<img class="avatar avatar-sm rounded-circle" alt="User Image"
											src="{{cmn.patient.patients.profile_pic}}"
											onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
										<div class="comment-body">
											<div class="meta-data">
												<span class="comment-author">{{cmn.patient.name_title}}
													{{cmn.patient.patients.fisrt_name}}
													{{cmn.patient.patients.last_name}}</span>
												<span class="comment-date">Reviewed
													{{cmn.created_date|naturaltime}}</span>
												<div class="review-count rating">
													{% if cmn.rating == 5 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													{% endif %}
													{% if cmn.rating == 4 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star "></i>
													{% endif %}
													{% if cmn.rating == 3 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star "></i>
													<i class="fas fa-star "></i>
													{% endif %}
													{% if cmn.rating == 2 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i> 
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													{% endif %}
													{% if cmn.rating == 1 %}
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i> 
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													{% endif %}
													{% if cmn.rating == 0 %}
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i> 
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
													{% endif %}
												</div>
											</div>
											{% comment %} <p class="recommended"><i class="far fa-thumbs-up"></i> I recommend
												the doctor</p> {% endcomment %}
											<p class="comment-content">
												{{cmn.comment}}
											</p>
										{% comment %} <div class="comment-reply">
												<a class="comment-btn" href="#">
													<i class="fas fa-reply"></i> Reply
												</a>
												<p class="recommend-btn">
													<span>Recommend?</span>
													<a href="#" class="like-btn">
														<i class="far fa-thumbs-up"></i> Yes
													</a>
													<a href="#" class="dislike-btn">
														<i class="far fa-thumbs-down"></i> No
													</a>
												</p>
											</div> 
										</div> {% endcomment %}
									</div>

									{% comment %} <ul class="comments-reply">
										<li>
											<div class="comment">
												<img class="avatar avatar-sm rounded-circle" alt="User Image"
													src="assets/img/patients/patient1.jpg">
												<div class="comment-body">
													<div class="meta-data">
														<span class="comment-author">Charlene Reed</span>
														<span class="comment-date">Reviewed 3 Days ago</span>
														<div class="review-count rating">
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star filled"></i>
															<i class="fas fa-star"></i>
														</div>
													</div>
													<p class="comment-content">
														Lorem ipsum dolor sit amet, consectetur adipisicing
														elit,
														sed do eiusmod tempor incididunt ut labore et dolore
														magna aliqua.
														Ut enim ad minim veniam.
														Curabitur non nulla sit amet nisl tempus
													</p>
													<div class="comment-reply">
														<a class="comment-btn" href="#">
															<i class="fas fa-reply"></i> Reply
														</a>
														<p class="recommend-btn">
															<span>Recommend?</span>
															<a href="#" class="like-btn">
																<i class="far fa-thumbs-up"></i> Yes
															</a>
															<a href="#" class="dislike-btn">
																<i class="far fa-thumbs-down"></i> No
															</a>
														</p>
													</div>
												</div>
											</div>
										</li>
									</ul> {% endcomment %}

								</li>
								{% endfor %}



							</ul>

							<div class="all-feedback text-center">
								<a href="#" class="btn btn-primary btn-sm">
									Show all feedback <strong>({{total_cmns}})</strong>
								</a>
							</div>

						</div>


						<div class="write-review">
							<h4>Write a review for <strong>{{hospital.hopital_name|upper}}</strong></h4>
							
							{% if user.is_authenticated %}
							{% if user.user_type == '4' %}
							<form method="post" id="commentFrom" action="{% url 'ratingandcomment' %}">
								{% csrf_token %}
								<div class="form-group"> 
									<label>Review</label>
									<div class="star-rating">
										<input id="star-5" type="radio" name="rating" value="5">
										<label for="star-5" title="5 stars">
											<i class="active fa fa-star"></i>
										</label>
										<input id="star-4" type="radio" name="rating" value="4">
										<label for="star-4" title="4 stars">
											<i class="active fa fa-star"></i>
										</label>
										<input id="star-3" type="radio" name="rating" value="3">
										<label for="star-3" title="3 stars">
											<i class="active fa fa-star"></i>
										</label>
										<input id="star-2" type="radio" name="rating" value="2">
										<label for="star-2" title="2 stars">
											<i class="active fa fa-star"></i>
										</label>
										<input id="star-1" type="radio" name="rating" value="1">
										<label for="star-1" title="1 star">
											<i class="active fa fa-star"></i>
										</label>
									</div>
								</div>
								<div class="form-group">
									<label>Your review</label>
									<textarea id="review_desc" maxlength="100" class="form-control"
										name="comment"></textarea>
										<input type="hidden" value="{{hospital.admin.id}}" name="HLP">
										<input type="hidden" value="hospital" name="pagename">
										<div class="d-flex justify-content-between mt-3"><small class="text-muted"><span
												id="chars">100</span> characters
											remaining</small></div>
								</div>
								<hr>
								<div class="submit-section">
									<button type="submit" class="btn btn-primary submit-btn">Add Review</button>
								</div>
							</form>
							{% endif %}
							{% else %}

							<a class="btn btn-rounded btn-primary"
								href="{% url 'dologin' %}?next={{ request.path|urlencode }}"><i
									class="fas fa-user-circle"></i> login /
								Signup </a>
							{% endif %}
						</div>

					</div>

					


					<div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
						<div class="row">
							<div class="col-md-6 offset-md-3">

								<div class="widget business-widget">
									<div class="widget-content">
										<div class="listing-hours">
											<div class="listing-day current">
												<div class="day">Today <span>5 Nov 2019</span></div>
												<div class="time-items">
													<span class="open-status"><span class="badge bg-success-light">Open
															Now</span></span>
													<span class="time">07:00 AM - 09:00 PM</span>
												</div>
											</div>
											<div class="listing-day">
												<div class="day">Monday</div>
												<div class="time-items">
													<span class="time">07:00 AM - 09:00 PM</span>
												</div>
											</div>
											<div class="listing-day">
												<div class="day">Tuesday</div>
												<div class="time-items">
													<span class="time">07:00 AM - 09:00 PM</span>
												</div>
											</div>
											<div class="listing-day">
												<div class="day">Wednesday</div>
												<div class="time-items">
													<span class="time">07:00 AM - 09:00 PM</span>
												</div>
											</div>
											<div class="listing-day">
												<div class="day">Thursday</div>
												<div class="time-items">
													<span class="time">07:00 AM - 09:00 PM</span>
												</div>
											</div>
											<div class="listing-day">
												<div class="day">Friday</div>
												<div class="time-items">
													<span class="time">07:00 AM - 09:00 PM</span>
												</div>
											</div>
											<div class="listing-day">
												<div class="day">Saturday</div>
												<div class="time-items">
													<span class="time">07:00 AM - 09:00 PM</span>
												</div>
											</div>
											<div class="listing-day closed">
												<div class="day">Sunday</div>
												<div class="time-items">
													<span class="time"><span
															class="badge bg-danger-light">Closed</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>

{% endblock content %}


{% block modal_fade %}

<div class="modal fade call-modal" id="voice_call">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="call-box incoming-box">
					<div class="call-wrapper">
						<div class="call-inner">
							<div class="call-user">
								<img alt="User Image" src="assets/img/doctors/doctor-thumb-02.jpg"   
								onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"class="call-avatar">
								<h4>Dr. Darren Elder</h4>
								<span>Connecting...</span>
							</div>
							<div class="call-items">
								<a href="javascript:void(0);" class="btn call-item call-end" data-bs-dismiss="modal"
									aria-label="Close"><i class="material-icons">call_end</i></a>
								<a href="#" class="btn call-item call-start"><i class="material-icons">call</i></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="modal fade call-modal" id="video_call">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<div class="call-box incoming-box">
					<div class="call-wrapper">
						<div class="call-inner">
							<div class="call-user">
								<img class="call-avatar" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" 
								onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
								<h4>Dr. Darren Elder</h4>
								<span>Calling ...</span>
							</div>
							<div class="call-items">
								<a href="javascript:void(0);" class="btn call-item call-end" data-bs-dismiss="modal"
									aria-label="Close"><i class="material-icons">call_end</i></a>
								<a href="#" class="btn call-item call-start"><i class="material-icons">videocam</i></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock modal_fade %}

{% block custom_js %}

<script>
	$(".submitbtn").on('click', function (e) {
		var form = new FormData($("#commentFrom"));
		console.log(form)
		e.preventDefault();
		$.ajax({
			type: 'POST',
			url: "{% url 'ratingandcomment' %}",
			data: form,
			success: function (d) {
				console.log(d)
			}
		})
	});
</script>
{% endblock custom_js %}