{% extends 'patient/newbase.html' %}
{% load static %}
{% block title %} :: Relief PRO::  Password Changed {% endblock title %}
{% block custom_css %}
{% endblock custom_css %}
{% block content %}

<div class="col-lg-6">

						<div class="card success-card">
							<div class="card-body">
								<div class="success-cont">
									<i class="fas fa-check"></i>
									<h3>Password has been Changed Successfully!</h3>
									
									<a href="{% url 'patient_home' %}" class="btn btn-primary view-inv-btn">Dashboard</a>
								</div>
							</div>
						</div>

					</div>

{% endblock content%}