{% extends 'front/blank-page.html' %}

{% load static %}
{% load mathfilters %}
{% block title %} Relief Pro - Checkout | Hospital,Labs and Pharmacy Online Booking | Emergency
Booking {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'front_home' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Checkout</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Checkout</h2>
					</div>
				</div>
			</div>
		</div>
 

		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-lg-8">
						<div class="card">
							<div class="card-body">

								<form action="booking-success.html">
									<div class="row">
										<div class="col-12">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="checkedFunc('flexCheckDefault')">
												<label class="form-check-label" for="flexCheckDefault">
													Is it for some else ? <a href="#large_someone" data-bs-toggle="modal" class="btn btn-primary btn-sm" tabindex="0">Add New.</span></a>
												</label>
											</div>
										</div>
										<div>
											<select class="form-select mb-3" aria-label="Default select example" id ="someone" disabled ="disabled">
												{% for someone in someones %}
												<option value="{{someone.id}}" selected>{{someone}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									{% comment %} <div class="info-widget">
										<h4 class="card-title">Personal Information</h4>
										<div class="row">
											<div class="col-md-6 col-sm-12">
												<div class="form-group card-label">
													<label>First Name{{booking.order_id}}</label>
													<input class="form-control" type="text">
												</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<div class="form-group card-label">
													<label>Last Name{{booking.id}}</label>
													<input class="form-control" type="text">
												</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<div class="form-group card-label">
													<label>Email{{booking.status}}</label>
													<input class="form-control" type="email">
												</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<div class="form-group card-label">
													<label>Phone</label>
													<input class="form-control" type="text">
												</div>
											</div>
										</div>
										<div class="exist-customer">Existing Customer? <a href="#">Click here to
												login</a></div>
									</div> {% endcomment %}
									
									<div class="payment-widget">
										<h4 class="card-title">Payment Method</h4>

										<div class="payment-list">
											<label class="payment-radio credit-card-option">
												<input type="radio" name="radio" checked>
												<span class="checkmark"></span>
												Credit card
											</label>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group card-label">
														<label for="card_name">Name on Card</label>
														<input class="form-control" id="card_name" type="text">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group card-label">
														<label for="card_number">Card Number</label>
														<input class="form-control" id="card_number"
															placeholder="1234  5678  9876  5432" type="text">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group card-label">
														<label for="expiry_month">Expiry Month</label>
														<input class="form-control" id="expiry_month" placeholder="MM"
															type="text">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group card-label">
														<label for="expiry_year">Expiry Year</label>
														<input class="form-control" id="expiry_year" placeholder="YY"
															type="text">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group card-label">
														<label for="cvv">CVV</label>
														<input class="form-control" id="cvv" type="text">
													</div>
												</div>
											</div>
										</div>


										<div class="payment-list">
											<label class="payment-radio paypal-option">
												<input type="radio" name="radio">
												<span class="checkmark"></span>
												Paypal
											</label>
										</div>


										<div class="terms-accept">
											<div class="custom-checkbox">
												<input type="checkbox" id="terms_accept">
												<label for="terms_accept">I have read and accept <a href="#">Terms &amp;
														Conditions</a></label>
											</div>
										</div>


										<div class="submit-section mt-4">
											<button type="submit" class="btn btn-primary submit-btn">Confirm and
												Pay</button>
										</div>

									</div>
								</form>

							</div>
						</div>
					</div>
					<div class="col-md-5 col-lg-4 theiaStickySidebar">

						<div class="card booking-card">
							<div class="card-header">
								<h4 class="card-title">Booking Summary</h4>
							</div>
							{% if booking.booking_for == "H" %}
							<div class="card-body">
								<h4 class="card-title">Hospital Details</h4>
								<div class="booking-doc-info">
									<a href="doctor-profile.html" class="booking-doc-img">
										<img src="{{booking.hospitalstaffdoctor.hospital.profile_pic}}" alt="User Image">
									</a>
									<div class="booking-info">
										<h4><a href="doctor-profile.html">Dr. {{booking.hospitalstaffdoctor.hospital.hopital_name}}</a></h4>
										{% comment %} <div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">35</span>
										</div> {% endcomment %}
										<div class="clinic-details">
											<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{booking.hospitalstaffdoctor.hospital.city}} , {{booking.hospitalstaffdoctor.hospital.state}}
											</p>
										</div>
									</div>
								</div>
							</br>
								<h5 class="card-title">Doctor Details</h5>
								<div class="booking-doc-info">
									<a href="doctor-profile.html" class="booking-doc-img">
										<img src="{{booking.hospitalstaffdoctor.doctor.profile_pic}}" alt="User Image">
									</a>
									<div class="booking-info">
										<h4><a href="doctor-profile.html">Dr. {{booking.hospitalstaffdoctor.doctor.fisrt_name}} {{booking.hospitalstaffdoctor.doctor.last_name}}</a></h4>
										{% comment %} <div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">35</span>
										</div> {% endcomment %}
										<div class="clinic-details">
											<p class="doc-location"><i class="fas fa-address-card"></i></i> {{booking.hospitalstaffdoctor.doctor.specialist}}
											</p>
										</div>
									</div>
								</div>

								<div class="booking-summary">
									<div class="booking-item-wrap">
										<ul class="booking-date">
											<li>Date <span>{{booking.applied_date}}</span></li>
											<li>Time <span>{{booking.applied_time}}</span></li>
										</ul>
										<ul class="booking-fee">
											<li>Consulting Fee <span>&#x20B9; {{booking.amount}}</span></li>
											{% if booking_type == "EMERGENCY" %}{% endif %}
											{% if booking_type == "OPD" %}{% endif %}
											{% if booking_type == "ONLINE" %}{% endif %}
											{% if booking_type == "HOMEVISIT" %}{% endif %}
											<li>Video Call <span>&#x20B9;50</span></li>
											<li>Booking Fee <span>&#x20B9;{{booking.amount |mul:10|div:100}}</span></li>
										</ul>
										<div class="booking-total">
											<ul class="booking-total-list">
												<li>
													<span>Total</span>
													<span class="total-cost">$160</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		</div>

{% endblock content %}



{% block modal_fade %}
<div class="modal fade bd-example-modal-xl" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-modal="true" role="dialog" id="large_someone">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">Add Your Dependent</h4>
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-original-title="" title=""></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3">
					<div class="col-sm-12">
						<div class="card mb-3">
							<div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
								<h6 class="mb-0 fw-bold ">Patients Basic Inforamtion</h6>
							</div>
							<div class="card-body">
								<form method="post" id="hpatientadd" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row g-3 align-items-center">
										<div class="col-12 col-md-6">
											<div class="form-group">
												<div class="change-avatar media_div_row profile-info-widget ">
													<div class="profile-img booking-doc-img" >
														<img src="#" alt="User Image" class="img_preview" class="img_preview" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
													</div>
													<div class="upload-img ">
														<div class="change-photo-btn">
															<span><i class="fa fa-upload"></i> Upload Photo *</span>
															<input type="file" class="upload select_media" name="profile_pic" required> 
														</div>
														<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
															size of 2MB</small>
													</div>
												</div>
											</div>
										</div>			
						
										<div class="col-md-6">
											<label class="form-label">Title *</label>
											<select class="form-select" aria-label="Default select example"
												name="name_title" required>
												<option {% if request.user.name_title == "Mr." %}selected{% endif %}
													value="Mr."> Mr.</option>
												<option {% if request.user.name_title == "Mrs." %}selected{% endif %}
													value="Mrs."> Mrs.</option>
												<option {% if request.user.name_title == "Miss" %}selected{% endif %}
													value="Miss"> Miss</option>
												<option {% if request.user.name_title == "Ms." %}selected{% endif %}
													value="Ms."> Ms.</option>
												<option {% if request.user.name_title == "Dr." %}selected{% endif %}
													value="Dr."> Dr.</option>
											</select>
										</div>
										<div class="col-md-6">
											<label for="firstname" class="form-label">First Name *</label>
											<input type="text" class="form-control" id="firstname" name="fisrt_name" required>
											<input type="hidden" class="form-control" id="where" name="where" value="add">
											<input type="hidden" class="form-control" id="page_name" name="page_name" value="depedent_page">
										</div>
										<div class="col-md-6">
											<label for="lastname" class="form-label">Last Name *</label>
											<input type="text" class="form-control" id="lastname" name="last_name" required>
										</div>
										<div class="col-md-6">
											<label for="address" class="form-label">Address </label>
											<input type="text" class="form-control" id="address" name="address">
										</div>
										<div class="col-md-6">
											<label for="zip_Code" class="form-label">zip_Code </label>
											<input type="text" class="form-control" id="zip_Code" name="zip_Code">
										</div>
										<div class="col-md-6">
											<label for="city" class="form-label">City </label>
											<input type="text" class="form-control" id="city" name="city">
										</div>
										<div class="col-md-6">
											<label for="age" class="form-label">Age *</label>
											<input type="text" class="form-control" id="dob" name="age" required>
										</div>
										<div class="col-md-6">
											<label for="phonenumber" class="form-label">Phone Number *</label>
											<input type="text" class="form-control" id="phone" name="phone" required>
										</div>
										<div class="col-md-6">
											<label for="emailaddress" class="form-label">Email Address</label>
											<input type="email" class="form-control" id="emailaddress" name="email">
										</div>
										<div class="col-md-6">
											<label for="formFileMultiple" class="form-label">ID Proof Upload </label>
											<input class="form-control" type="file" id="formFileMultiple"
												name="ID_proof">
										</div>
										<div class="col-md-6">
											<label class="form-label">Gender </label>
											<div class="row">
												<div class="col-md-6">
													<div class="form-check">
														<input class="form-check-input" type="radio" name="gender"
															id="gender" value="Male" checked>
														<label class="form-check-label" for="exampleRadios11">
															Male
														</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-check">
														<input class="form-check-input" type="radio" name="gender"
															id="gender" value="Female"> <label class="form-check-label"
															for="exampleRadios22">
														Female
														</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<label  class="form-label">Blood Group *</label>
											<select class="form-select" aria-label="Default select example" name="bloodgroup" required>
												<option selected disabled>Blood Group</option>
												<option {% if patient.bloodgroup == "A+" %}selected{% endif %} value="A+">A+</option>
												<option {% if patient.bloodgroup == "A-" %}selected{% endif %} value="A-">A-</option>
												<option {% if patient.bloodgroup == "B+" %}selected{% endif %} value="B+">B+</option>
												<option {% if patient.bloodgroup == "B-" %}selected{% endif %} value="B-">B-</option>
												<option {% if patient.bloodgroup == "AB-" %}selected{% endif %} value="AB-">AB-</option>
												<option {% if patient.bloodgroup == "AB+" %}selected{% endif %} value="AB+">AB+</option>
												<option {% if patient.bloodgroup == "O-" %}selected{% endif %} value="O-">O-</option>
												<option {% if patient.bloodgroup == "O+" %}selected{% endif %} value="O+">O+</option>
												
											</select>
										</div>
										<div class="col-md-6">
											<label class="form-label">Relationship *</label>
											<select class="form-select" aria-label="Default select example"
												name="relationship" required>
												<option value="Son"> Son</option>
												<option value="Daughter"> Daughter</option>
												<option value="Wife"> Wife</option>
												<option  value="Husband"> Husband</option>
												<option  value="Mother"> Mother</option>
												<option  value="Father"> Father</option>
												<option  value="Brother"> Brother</option>
												<option  value="Sister"> Sister</option>
												<option  value="Father in Law"> Father in Law</option>
												<option  value="Mother in Law"> Mother in Law</option>
												<option  value="Sister in Law"> Sister in Law</option>
												<option  value="Brother in Law"> Brother in Law</option>
												<option  value="Cousin"> Cousin</option>
												<option  value="Friend"> Friend</option>
												<option  value="Neighbour"> Neighbour</option>
											</select>
										</div>
										<div class="col-md-12">
											<label for="addnote" class="form-label">Add Note</label>
											<textarea class="form-control" id="addnote" name="add_notes"
												rows="3"></textarea>
										</div>
									</div>

									<button type="submit" class="btn btn-primary mt-4">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock modal_fade %}

{% block custom_js %}

<script>
    function checkedFunc(element1Id) {
    
        var myLayer = document.getElementById('someone');
        var element1 = document.getElementById(element1Id);
    if (element1.checked == true) {
            myLayer.class = "submit";
            myLayer.removeAttribute("disabled");
    } else {
            myLayer.class = "button:disabled";
            myLayer.setAttribute("disabled","disabled");
    };
    }

</script>
{% endblock custom_js %}
