

{% extends 'patient/newbase.html' %}
{% load static %}
{% block title %} :: Relief Pro:: Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}


		<div class="col-md-7 col-lg-8 col-xl-9">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6">
							<h3 class="card-title">Dependent</h3>
						</div>
						<div class="col-sm-6">
							<div class="text-end">
								<a href="#large_someone" data-bs-toggle="modal" class="btn btn-primary btn-sm"
									tabindex="0">Add Dependent</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body ">

					<div class="card card-table mb-0">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Dependent</th>
											<th>Relationship</th>
											<th>gender</th>
											<th>Number</th>
											<th>Blood Group</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
									{% for forsome in someones %}
										<tr>
											<td>
												<h2 class="table-avatar">
													<span class="avatar avatar-sm me-2">
														<img class="avatar-img rounded-circle"
															src="{{forsome.profile_pic}}"
															alt="User Image">
													</span>
													{{forsome.fisrt_name}} {{forsome.last_name}}
												</h2>
											</td>
											<td>{{forsome.relationship}} </td>
											<td>{{forsome.gender}}</td>
											<td>{{forsome.phone}}</td>
											<td>{{forsome.bloodgroup}}</td>
											<td>
												<div class="table-action">
													<a href="#editlarge_someone{{forsome.id}}" class="btn btn-sm bg-info-light"
														data-bs-toggle="modal"> <i class="fas fa-edit"></i>
														Edit</a>
													{% if forsome.is_active %}
													<a href="{% url 'deactive_someone_as_patient' forsome.id %}"
														class="btn btn-sm bg-danger-light"><i
															class="fas fa-times"></i> Deactive</a>
													{% else %}
													<a href="{% url 'active_someone_as_patient' forsome.id %}"
														class="btn btn-sm bg-primary-light"><i
															class="fas fa-times"></i> Activate</a>
													{% endif %}
												</div>
											</td>
										</tr>
									{% endfor %}
										{% comment %} <tr>
											<td>
												<h2 class="table-avatar">
													<span class="avatar avatar-sm me-2">
														<img class="avatar-img rounded-circle"
															src="assets/img/patients/patient17.jpg"
															alt="User Image">
													</span>
													Tressie
												</h2>
											</td>
											<td>Daughter</td>
											<td>Female</td>
											<td>360-822-9097</td>
											<td>B+</td>
											<td>
												<div class="table-action">
													<a href="#edit_form" class="btn btn-sm bg-info-light"
														data-bs-toggle="modal"> <i class="fas fa-edit"></i>
														Edit</a>
													<a href="javascript:void(0);"
														class="btn btn-sm bg-danger-light"><i
															class="fas fa-times"></i> Deactive</a>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<span class="avatar avatar-sm me-2">
														<img class="avatar-img rounded-circle"
															src="assets/img/patients/patient18.jpg"
															alt="User Image">
													</span>
													Champagne
												</h2>
											</td>
											<td>Father</td>
											<td>Male</td>
											<td>720-841-8299</td>
											<td>B+</td>
											<td>
												<div class="table-action">
													<a href="#edit_form" class="btn btn-sm bg-info-light"
														data-bs-toggle="modal"> <i class="fas fa-edit"></i>
														Edit</a>
													<a href="javascript:void(0);"
														class="btn btn-sm bg-danger-light"><i
															class="fas fa-times"></i> Deactive</a>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<span class="avatar avatar-sm me-2">
														<img class="avatar-img rounded-circle"
															src="assets/img/patients/patient19.jpg"
															alt="User Image">
													</span>
													Vena
												</h2>
											</td>
											<td>Mother</td>
											<td>Male</td>
											<td>949-583-4370</td>
											<td>A+</td>
											<td>
												<div class="table-action">
													<a href="#edit_form" class="btn btn-sm bg-info-light"
														data-bs-toggle="modal"> <i class="fas fa-edit"></i>
														Edit</a>
													<a href="javascript:void(0);"
														class="btn btn-sm bg-danger-light"><i
															class="fas fa-times"></i> Deactive</a>
												</div>
											</td>
										</tr> {% endcomment %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
				

					
		 	
		
{% endblock content %}

 {% block modal_fade %}
	
	<!--Edit someone dependent-->
	{% for forsome in someones %}
	<div class="modal fade bd-example-modal-xl" tabindex="-1" aria-modal="true" role="dialog" id="editlarge_someone{{forsome.id}}">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel">Add Your Dependent</h4>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-original-title="" title=""></button>
				</div>
				<div class="modal-body">
					<div class="row mb-3">
						<div class="col-sm-12">
							<div class="card mb-3">
								<div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
									<h6 class="mb-0 fw-bold ">Patients Basic Inforamtion</h6>
								</div>
								<div class="card-body">
									<form method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row g-3 align-items-center">
											<div class="col-12 col-md-6">
												<div class="form-group">
													<div class="change-avatar media_div_row profile-info-widget ">
														<div class="profile-img booking-doc-img" >
															<img src="{{forsome.profile_pic}}" class="img_preview" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
														</div>
														<div class="upload-img ">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> Upload Photo *</span>
																<input type="file" class="upload select_media" name="profile_pic"  value="{{forsome.profile_pic}}"> 
															</div>
															<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
																size of 2MB</small>
														</div>
													</div>
												</div>
											</div>			
							
											<div class="col-md-6">
												<label class="form-label">Title *</label>
												<select class="form-select" aria-label="Default select example"
													name="name_title" required>
													<option {% if forsome.name_title == "Mr." %}selected{% endif %}
														value="Mr."> Mr.</option>
													<option {% if forsome.name_title == "Mrs." %}selected{% endif %}
														value="Mrs."> Mrs.</option>
													<option {% if forsome.name_title == "Miss" %}selected{% endif %}
														value="Miss"> Miss</option>
													<option {% if forsome.name_title == "Ms." %}selected{% endif %}
														value="Ms."> Ms.</option>
													<option {% if forsome.name_title == "Dr." %}selected{% endif %}
														value="Dr."> Dr.</option>
												</select>
											</div>
											<div class="col-md-6">
												<label for="firstname" class="form-label">First Name *</label>
												<input type="text" class="form-control" id="firstname" name="fisrt_name" required value="{{forsome.fisrt_name}}">
												<input type="hidden" class="form-control" id="where" name="where" value="update">
												<input type="hidden" class="form-control" id="someoneid" name="someoneid" value="{{forsome.id}}">
												<input type="hidden" class="form-control" id="page_name" name="page_name" value="depedent_page">
											</div>
											<div class="col-md-6">
												<label for="lastname" class="form-label">Last Name *</label>
												<input type="text" class="form-control" id="lastname" name="last_name" required value="{{forsome.last_name}}">
											</div>
											<div class="col-md-6">
												<label for="address" class="form-label">Address </label>
												<input type="text" class="form-control" id="address" name="address" value="{{forsome.address}}">
											</div>
											<div class="col-md-6">
												<label for="pin_code" class="form-label">pin_code </label>
												<input type="text" class="form-control" id="pin_code" name="pin_code" value="{{forsome.pin_code}}">
											</div>
											<div class="col-md-6">
												<label for="city" class="form-label">City </label>
												<input type="text" class="form-control" id="city" name="city" value="{{forsome.city}}">
											</div>
											<div class="col-md-6">
												<label for="age" class="form-label">Age *</label>
												<input type="text" class="form-control" id="dob" name="age" required value="{{forsome.age}}">
											</div>
											<div class="col-md-6">
												<label for="phonenumber" class="form-label">Phone Number *</label>
												<input type="text" class="form-control" id="phone" name="phone" required value="{{forsome.phone}}">
											</div>
											<div class="col-md-6">
												<label for="emailaddress" class="form-label">Email Address</label>
												<input type="email" class="form-control" id="emailaddress" name="email" value="{{forsome.email}}">
											</div>
											<div class="col-md-6">
												<label for="formFileMultiple" class="form-label">ID Proof Upload </label>
												<input class="form-control" type="file" id="formFileMultiple"
													name="ID_proof" value="{{forsome.ID_proof}}">
											</div>
											<div class="col-md-6">
												<label class="form-label">Gender </label>
												<div class="row">
													<div class="col-md-6">
														<div class="form-check">
															<input class="form-check-input" type="radio" name="gender"
																id="gender" value="Male" {% if forsome.gender == "Male" %}checked{% endif %} >
															<label class="form-check-label" for="exampleRadios11">
																Male
															</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-check">
															<input class="form-check-input" type="radio" name="gender"
																id="gender" value="Female" {% if forsome.gender == "Female" %}checked{% endif %}> <label class="form-check-label"
																for="exampleRadios22">
															Female
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<label  class="form-label">Blood Group *</label>
												<select class="form-select" aria-label="Default select example" name="bloodgroup" required>
													<option selected disabled>Blood Group</option>
													<option {% if forsome.bloodgroup == "A+" %}selected{% endif %} value="A+">A+</option>
													<option {% if forsome.bloodgroup == "A-" %}selected{% endif %} value="A-">A-</option>
													<option {% if forsome.bloodgroup == "B+" %}selected{% endif %} value="B+">B+</option>
													<option {% if forsome.bloodgroup == "B-" %}selected{% endif %} value="B-">B-</option>
													<option {% if forsome.bloodgroup == "AB-" %}selected{% endif %} value="AB-">AB-</option>
													<option {% if forsome.bloodgroup == "AB+" %}selected{% endif %} value="AB+">AB+</option>
													<option {% if forsome.bloodgroup == "O-" %}selected{% endif %} value="O-">O-</option>
													<option {% if forsome.bloodgroup == "O+" %}selected{% endif %} value="O+">O+</option>
													
												</select>
											</div>
											<div class="col-md-6">
												<label class="form-label">Relationship *</label>
												<select class="form-select" aria-label="Default select example"
													name="relationship" required>
													<option {% if forsome.relationship == "Son" %}selected{% endif %} value="Son"> Son</option>
													<option {% if forsome.relationship == "Daughter" %}selected{% endif %} value="Daughter"> Daughter</option>
													<option {% if forsome.relationship == "Wife" %}selected{% endif %} value="Wife"> Wife</option>
													<option {% if forsome.relationship == "Husband" %}selected{% endif %} value="Husband"> Husband</option>
													<option {% if forsome.relationship == "Mother" %}selected{% endif %}  value="Mother"> Mother</option>
													<option {% if forsome.relationship == "Father" %}selected{% endif %} value="Father"> Father</option>
													<option {% if forsome.relationship == "Brother" %}selected{% endif %} value="Brother"> Brother</option>
													<option {% if forsome.relationship == "Sister" %}selected{% endif %} value="Sister"> Sister</option>
													<option {% if forsome.relationship == "Father in Law" %}selected{% endif %} value="Father in Law"> Father in Law</option>
													<option {% if forsome.relationship == "Mother in Law" %}selected{% endif %} value="Mother in Law"> Mother in Law</option>
													<option {% if forsome.relationship == "Sister in Law" %}selected{% endif %} value="Sister in Law"> Sister in Law</option>
													<option {% if forsome.relationship == "Brother in Law" %}selected{% endif %} value="Brother in Law"> Brother in Law</option>
													<option {% if forsome.relationship == "Cousin" %}selected{% endif %} value="Cousin"> Cousin</option>
													<option {% if forsome.relationship == "Friend" %}selected{% endif %} value="Friend"> Friend</option>
													<option {% if forsome.relationship == "Neighbour" %}selected{% endif %} value="Neighbour"> Neighbour</option>
												</select>
											</div>
											<div class="col-md-12">
												<label for="addnote" class="form-label">Add Note</label>
												<textarea class="form-control" id="addnote" name="add_notes"
													rows="3">{{forsome.add_notes}}</textarea>
											</div>
										</div>

										<button type="submit" class="btn btn-primary mt-4">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<!--End edit someone dependent-->
	<!--Create someone dependent-->	
	<div class="modal fade bd-example-modal-xl" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-modal="true" role="dialog" id="large_someone">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel">Add Your Dependent</h4>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-original-title="" title=""></button>
				</div>
				<div class="modal-body">
					<div class="row mb-3">
						<div class="col-sm-12">
							<div class="card mb-3">
								<div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
									<h6 class="mb-0 fw-bold ">Patients Basic Inforamtion</h6>
								</div>
								<div class="card-body">
									<form method="post" id="hpatientadd" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row g-3 align-items-center">
											<div class="col-12 col-md-6">
												<div class="form-group">
													<div class="change-avatar media_div_row profile-info-widget ">
														<div class="profile-img booking-doc-img" >
															<img src="#" alt="User Image" class="img_preview" class="img_preview" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
														</div>
														<div class="upload-img ">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> Upload Photo *</span>
																<input type="file" class="upload select_media" name="profile_pic" required> 
															</div>
															<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
																size of 2MB</small>
														</div>
													</div>
												</div>
											</div>			
							
											<div class="col-md-6">
												<label class="form-label">Title *</label>
												<select class="form-select" aria-label="Default select example"
													name="name_title" required>
													<option {% if request.user.name_title == "Mr." %}selected{% endif %}
														value="Mr."> Mr.</option>
													<option {% if request.user.name_title == "Mrs." %}selected{% endif %}
														value="Mrs."> Mrs.</option>
													<option {% if request.user.name_title == "Miss" %}selected{% endif %}
														value="Miss"> Miss</option>
													<option {% if request.user.name_title == "Ms." %}selected{% endif %}
														value="Ms."> Ms.</option>
													<option {% if request.user.name_title == "Dr." %}selected{% endif %}
														value="Dr."> Dr.</option>
												</select>
											</div>
											<div class="col-md-6">
												<label for="firstname" class="form-label">First Name *</label>
												<input type="text" class="form-control" id="firstname" name="fisrt_name" required>
												<input type="hidden" class="form-control" id="where" name="where" value="add">
												<input type="hidden" class="form-control" id="page_name" name="page_name" value="depedent_page">
											</div>
											<div class="col-md-6">
												<label for="lastname" class="form-label">Last Name *</label>
												<input type="text" class="form-control" id="lastname" name="last_name" required>
											</div>
											<div class="col-md-6">
												<label for="address" class="form-label">Address </label>
												<input type="text" class="form-control" id="address" name="address">
											</div>
											<div class="col-md-6">
												<label for="pin_code" class="form-label">pin_code </label>
												<input type="text" class="form-control" id="pin_code" name="pin_code">
											</div>
											<div class="col-md-6">
												<label for="city" class="form-label">City </label>
												<input type="text" class="form-control" id="city" name="city">
											</div>
											<div class="col-md-6">
												<label for="age" class="form-label">Age *</label>
												<input type="text" class="form-control" id="dob" name="age" required>
											</div>
											<div class="col-md-6">
												<label for="phonenumber" class="form-label">Phone Number *</label>
												<input type="text" class="form-control" id="phone" name="phone" required>
											</div>
											<div class="col-md-6">
												<label for="emailaddress" class="form-label">Email Address</label>
												<input type="email" class="form-control" id="emailaddress" name="email">
											</div>
											<div class="col-md-6">
												<label for="formFileMultiple" class="form-label">ID Proof Upload </label>
												<input class="form-control" type="file" id="formFileMultiple"
													name="ID_proof">
											</div>
											<div class="col-md-6">
												<label class="form-label">Gender </label>
												<div class="row">
													<div class="col-md-6">
														<div class="form-check">
															<input class="form-check-input" type="radio" name="gender"
																id="gender" value="Male" checked>
															<label class="form-check-label" for="exampleRadios11">
																Male
															</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-check">
															<input class="form-check-input" type="radio" name="gender"
																id="gender" value="Female"> <label class="form-check-label"
																for="exampleRadios22">
															Female
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<label  class="form-label">Blood Group *</label>
												<select class="form-select" aria-label="Default select example" name="bloodgroup" required>
													<option selected disabled>Blood Group</option>
													<option {% if patient.bloodgroup == "A+" %}selected{% endif %} value="A+">A+</option>
													<option {% if patient.bloodgroup == "A-" %}selected{% endif %} value="A-">A-</option>
													<option {% if patient.bloodgroup == "B+" %}selected{% endif %} value="B+">B+</option>
													<option {% if patient.bloodgroup == "B-" %}selected{% endif %} value="B-">B-</option>
													<option {% if patient.bloodgroup == "AB-" %}selected{% endif %} value="AB-">AB-</option>
													<option {% if patient.bloodgroup == "AB+" %}selected{% endif %} value="AB+">AB+</option>
													<option {% if patient.bloodgroup == "O-" %}selected{% endif %} value="O-">O-</option>
													<option {% if patient.bloodgroup == "O+" %}selected{% endif %} value="O+">O+</option>
													
												</select>
											</div>
											<div class="col-md-6">
												<label class="form-label">Relationship *</label>
												<select class="form-select" aria-label="Default select example"
													name="relationship" required>
													<option value="Son"> Son</option>
													<option value="Daughter"> Daughter</option>
													<option value="Wife"> Wife</option>
													<option  value="Husband"> Husband</option>
													<option  value="Mother"> Mother</option>
													<option  value="Father"> Father</option>
													<option  value="Brother"> Brother</option>
													<option  value="Sister"> Sister</option>
													<option  value="Father in Law"> Father in Law</option>
													<option  value="Mother in Law"> Mother in Law</option>
													<option  value="Sister in Law"> Sister in Law</option>
													<option  value="Brother in Law"> Brother in Law</option>
													<option  value="Cousin"> Cousin</option>
													<option  value="Friend"> Friend</option>
													<option  value="Neighbour"> Neighbour</option>
												</select>
											</div>
											<div class="col-md-12">
												<label for="addnote" class="form-label">Add Note</label>
												<textarea class="form-control" id="addnote" name="add_notes"
													rows="3"></textarea>
											</div>
										</div>

										<button type="submit" class="btn btn-primary mt-4">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Create someone dependent-->


 {% endblock modal_fade %}
{% block custom_js %}
<script>
 $(".submit_btn").click(function(){
        var form=new FormData($("#hpatientadd"));
       // form.append("long_desc",tinyMCE.activeEditor.getContent());
        console.log("hello")
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'add_someone_as_patient' %}",
            data:form,
            success: function (json) {
                console.log(json)
            },
            error: function (xhr, errmsg, err) {

            }
        });
        //Ajax code

        
       // setTimeout(location.reload.bind(location), 2000);

        //update staff from edit page fade
       

    })
</script>
<script>
	$(document).on("change",".select_media",function(){
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        showPreviewMedia(this,img_preview);

    });

    function showPreviewMedia(input,img_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
            img_preview.attr("src",e.target.result);
            img_preview.show();
            img_preview.css({"border":"5px solid primary"});
            img_preview.css({"border-radius":"2px"});
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% endblock custom_js %}


				