{% extends 'patient/newbase.html' %}
{% load static %}
{% block title %} :: Relief Pro:: Madical Records {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
	


		 

<div class="col-md-7 col-lg-8 col-xl-9">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body pt-0">

					<nav class="user-tabs mb-4">
						<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
							<li class="nav-item">
								<a class="nav-link active" href="#pat_medicalrecords"
									data-bs-toggle="tab">Medical Records</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#pat_prescription"
									data-bs-toggle="tab">Hospital Uploaded</a>
							</li> 
						</ul>
					</nav>


					<div class="tab-content pt-0">

						<div id="pat_medicalrecords" class="tab-pane fade show active">
							<div class="text-end">
								<a href="#" class="add-new-btn" data-bs-toggle="modal"
									data-bs-target="#add_medical_records_modal">Add Medical
									Records</a>
							</div>
							<div class="card card-table mb-0">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>#</th>
													<th>Name</th>
													<th>Date</th>
													<th>Description</th>
													<th>Attachment</th>
													<th>Orderd By</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
											{% for file in files %}
												<tr>
													<td>{{forloop.counter}}</td>
													{% if file.for_whom %}
														<td>{{file.for_whom.name_title}} {{file.for_whom.fisrt_name}} {{file.for_whom.last_name}}</td>
													{% else %}
														<td>{{file.patient.admin.name_title}} {{file.patient.fisrt_name}} {{file.patient.last_name}}</td>
													{% endif %}
													
													<td>{{file.AppoinmentDate|date:'d M Y'}} <span
															class="d-block text-info">{{file.AppoinmentDate|date:'h i a'}}
															</span></td>
													<td>{{file.symptoms}}</td>
													<td>
														<a href="{{file.prescription}}"
															title="Download attachment"
															class="btn btn-primary btn-sm"> <i
																class="fa fa-download" download></i></a>
													</td>
													{% if for_whom %}
														<td>{{file.for_whom.relationship}}</td>
													{% else %}
														<td>Your Self</td>
													{% endif %}
													
													<td>
														<a href="{% url 'delete_medical_files' file.id %}"
															class="btn btn-sm bg-danger-light">
															<i class="far fa-trash-alt"></i>
														</a>
													</td>
												</tr>
											{% endfor %}
											
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="pat_prescription">
							<div class="card card-table mb-0">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>APPT ID</th>
													<th>Date</th>
													<th>Hospital</th>
													<th>Doctor</th>
													<th>Attachment</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for relief_file in relief_files %}
												<tr>
													<td>{{relief_file.booking.id}}</td>
													<td>{{relief_file.booking.applied_date}} <span
															class="d-block text-info">{{relief_file.booking.applied_time}}</span></td>
													<td>{{relief_file.hospitaldoctors.hospital.hopital_name}}</td>									
													<td>
														<h2 class="table-avatar">
															<a href="doctor-profile.html"
																class="avatar avatar-sm me-2">
																<img class="avatar-img rounded-circle"
																	src="{{relief_file.hospitaldoctors.doctor.profile_pic}}"
																	onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'"
																	alt="User Image">
															</a>
															<a href="doctor-profile.html">Dr. {{relief_file.hospitaldoctors.doctor.fisrt_name}}
																{{relief_file.hospitaldoctors.doctor.last_name}} <span>{{relief_file.hospitaldoctors.doctor.specialist}}</span></a>
														</h2>
													</td>
													<td>
														<a href="{{relief_file.file}}"
															title="Download attachment"
															class="btn btn-primary btn-sm"
															target="_blank" > <i
																class="fa fa-download" download></i></a>
													</td>
													<td>
														<div class="table-action">
															<a href="javascript:void(0);"
																class="btn btn-sm bg-info-light">
																<i class="far fa-eye"></i> View
															</a>
															<a href="javascript:void(0);"
																class="btn btn-sm bg-success-light">
																<i class="fas fa-print"></i> Print
															</a>
														</div>
													</td>
												</tr>
												{% endfor %}
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div> 

					</div>

				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}

 {% block modal_fade %}

	<div class="modal fade custom-modal custom-medicalrecord-modal" id="add_medical_records_modal"
		style="display: none;" data-select2-id="add_medical_records_modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Medical Records</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<form id="medical_records_form" enctype="multipart/form-data" method= "post">
				{% csrf_token %}
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="checkedFunc('flexCheckDefault')">
									<label class="form-check-label" for="flexCheckDefault">
                                        Is it for some else ?
                                    </label>
									<select class="form-select mb-3" aria-label="Default select example" id ="someone" name="someone" disabled ="disabled">
                                        {% for someone in someones %}
                                        <option value="{{someone.id}}" selected>{{someone}}</option>
                                        {% endfor %}
                                    </select>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label>Hospital Name</label>
									<select class="form-select" name="hospital">
										<option value="" disabled selected>Select Hospital</option>
										{% for hospital in hospitals %}
											<option value="{{hospital.id}}">{{hospital}}</option>
										{% endfor %}
										
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label>Upload</label>
									<div class="upload-medical-records">
										<input class="form-control" type="file" name="prescription" id="user_files_mr">
										<div class="upload-content dropzone">
											<div class="text-center">
												<div class="upload-icon mb-2"><img src="{% static 'newstatic/assets/img/upload-icon.png' %} "
														alt=""></div>
												<h5>Drag &amp; Drop</h5>
												<h6>or <span class="text-danger">Browse</span></h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label>Symptoms</label>
									<input type="text" data-role="tagsinput" class="input-tags form-control"
										name="symptoms" id="services">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Date</label>
									<div class="form-group">
										<input type="date" class="form-control" name="AppoinmentDate" id="AppoinmentDate">
									</div>
								</div>
							</div>
						</div>
						<div class="text-center mt-4">
							<div class="submit-section text-center">
								<button type="submit" id="medical_btn"
									class="btn btn-primary submit-btn">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


 {% endblock modal_fade %}
{% block custom_js %}
<script>
    function checkedFunc(element1Id) {
    
        var myLayer = document.getElementById('someone');
        var element1 = document.getElementById(element1Id);
    if (element1.checked == true) {
            myLayer.class = "submit";
            myLayer.removeAttribute("disabled");
    } else {
            myLayer.class = "button:disabled";
            myLayer.setAttribute("disabled","disabled");
    };
    }

</script>
{% endblock custom_js %}
