{% load static %}
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
	<div class="profile-sidebar">
		<div class="widget-profile pro-widget-content">
			<div class="profile-info-widget">
				<a href="#" class="booking-doc-img">
					<img src="{{request.user.profile_pic}}" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'" alt="User Image">
				</a>
				<div class="profile-det-info">
					<h3>{{user.name_title}}. {{user.first_name}} {{user.last_name}}</h3>
					<div class="patient-details">
						<h5><i class="fas fa-birthday-cake"></i> {{user.patients.dob}},  {{user.patients.age}} years</h5>
						<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{user.patients.city}}, {{user.patients.state}} ,{{user.patients.country}}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-widget">
			<nav class="dashboard-menu">
				<ul>
					{% url 'patient_home' as patient_home %}
					<li {% if request.path == patient_home %}class="active"{% endif %}>
						<a href="{% url 'patient_home' %}">
							<i class="fas fa-columns"></i>
							<span>Dashboard</span>
						</a>
					</li>
					{% comment %} <li>
						<a href="favourites.html">
							<i class="fas fa-bookmark"></i>
							<span>Favourites</span>
						</a>
					</li> {% endcomment %}
					{% url 'add_someone_as_patient' as add_someone_as_patient %}
					<li {% if request.path == add_someone_as_patient %}class="active"{% endif %}> 
						<a href="{% url 'hello' %}">
							<i class="fas fa-users"></i>
							<span>Dependent</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fas fa-comments"></i>
							<span>Message</span>
							<small class="unread-msg">23</small>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fas fa-file-invoice-dollar"></i>
							<span>Accounts</span>
						</a>
					</li>
					{% comment %} <li>
						<a href="orders-list.html">
							<i class="fas fa-list-alt"></i>
							<span>Orders</span>
							<small class="unread-msg">7</small>
						</a>
					</li> {% endcomment %}
					{% url 'hello' as hello %}
					<li {% if request.path == hello %}class="active"{% endif %}>
						<a href="{% url 'hello' %}">
							<i class="fas fa-clipboard"></i>
							<span>Add Medical Records</span>
						</a>
					</li>
					{% comment %} <li>
						<a href="medical-details.html">
							<i class="fas fa-file-medical-alt"></i>
							<span>Medical Details</span>
						</a>
					</li> {% endcomment %}
					{% url 'patient_update' as patient_update %}
					<li {% if request.path == patient_update %}class="active"{% endif %}>
						<a href="{% url 'patient_update' %}">
							<i class="fas fa-user-cog"></i>
							<span>Profile Settings</span>
						</a>
					</li>
					{% url 'password_change_patient' as password_change_patient %}
					<li {% if request.path == password_change_patient %}class="active"{% endif %}>
						<a href="{% url 'password_change_patient' %}">
							<i class="fas fa-lock"></i>
							<span>Change Password</span>
						</a>
					</li>
					<li>
						<a href="{% url 'dologout' %}">
							<i class="fas fa-sign-out-alt"></i>
							<span>Logout</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>