
{% extends 'patient/newbase.html' %}
{% load static %}
{% block title %} :: Relief Pro:: Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
	
	

					<div class="col-md-7 col-lg-8 col-xl-9">
						{% comment %} <div class="row">
							<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
								<div class="card">
									<div class="card-body text-center">
										<div class="mb-3">
											<img src="{% static 'newstatic/assets/img/specialities/pt-dashboard-01.png' %} " alt="" width="55">
										</div>
										<h5>Heart Rate</h5>
										<h6>12 <sub>bpm</sub></h6>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
								<div class="card">
									<div class="card-body text-center">
										<div class="mb-3">
											<img src="{% static 'newstatic/assets/img/specialities/pt-dashboard-02.png'%}" alt="" width="55">
										</div>
										<h5>Body Temperature</h5>
										<h6>18 <sub>C</sub></h6>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
								<div class="card">
									<div class="card-body text-center">
										<div class="mb-3">
											<img src="{% static 'newstatic/assets/img/specialities/pt-dashboard-03.png'%}" alt="" width="55">
										</div>
										<h5>Glucose Level</h5>
										<h6>70 - 90</h6>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
								<div class="card">
									<div class="card-body text-center">
										<div class="mb-3">
											<img src="{% static 'newstatic/assets/img/specialities/pt-dashboard-04.png'%}" alt="" width="55">
										</div>
										<h5>Blood Pressure</h5>
										<h6>202/90 <sub>mg/dl</sub></h6>
									</div>
								</div>
							</div>
						</div>
						<div class="row patient-graph-col">
							<div class="col-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Graph Status</h4>
									</div>
									<div class="card-body pt-2 pb-2 mt-1 mb-1">
										<div class="row">
											<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
												<a href="#" class="graph-box" data-bs-toggle="modal"
													data-bs-target="#graph1">
													<div>
														<h4>BMI Status</h4>
													</div>
													<div class="graph-img">
														<img src="{% static 'newstatic/assets/img/shapes/graph-01.png'%}" alt="">
													</div>
													<div class="graph-status-result mt-3">
														<span class="graph-update-date">Last Update 6d</span>
													</div>
												</a>
											</div>
											<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
												<a href="#" class="graph-box pink-graph" data-bs-toggle="modal"
													data-bs-target="#graph2">
													<div>
														<h4>Heart Rate Status</h4>
													</div>
													<div class="graph-img">
														<img src="{% static 'newstatic/assets/img/shapes/graph-02.png'%}" alt="">
													</div>
													<div class="graph-status-result mt-3">
														<span class="graph-update-date">Last Update 2d</span>
													</div>
												</a>
											</div>
											<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
												<a href="#" class="graph-box sky-blue-graph" data-bs-toggle="modal"
													data-bs-target="#graph3">
													<div>
														<h4>FBC Status</h4>
													</div>
													<div class="graph-img">
														<img src="{% static 'newstatic/assets/img/shapes/graph-03.png'%}" alt="">
													</div>
													<div class="graph-status-result mt-3">
														<span class="graph-update-date">Last Update 5d</span>
													</div>
												</a>
											</div>
											<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
												<a href="#" class="graph-box orange-graph" data-bs-toggle="modal"
													data-bs-target="#graph4">
													<div>
														<h4>Weight Status</h4>
													</div>
													<div class="graph-img">
														<img src="{% static 'newstatic/assets/img/shapes/graph-04.png'%}" alt="">
													</div>
													<div class="graph-status-result mt-3">
														<span class="graph-update-date">Last Update 3d</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> {% endcomment %}
						<div class="card">
						<div class="card-header">
										<h4 class="card-title">Appointments</h4>
									</div>
							<div class="card-body pt-0">

								<nav class="user-tabs mb-4">
									<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
										<li class="nav-item">
											<a class="nav-link active" href="#pat_appointments"
												data-bs-toggle="tab">Hospital</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_prescriptions"
												data-bs-toggle="tab">Laboratory</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_medical_records" data-bs-toggle="tab"><span
													class="med-records">Pharmacy</span></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_billing" data-bs-toggle="tab">Emergency</a>
										</li>
									</ul>
								</nav>


								<div class="tab-content pt-0">

									<div id="pat_appointments" class="tab-pane fade show active">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Doctor</th>
																<th>Appt Date</th>
																<th>Booking Date</th>
																<th>Amount</th>
																<th>Follow Up</th>
																<th>Status</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
														{% for booking in bookings %}
															<tr>
																<td>
																	<h2 class="table-avatar">
																		<a href="{% url 'hospital_details' booking.hospitalstaffdoctor.hospital.id %}"
																			class="avatar avatar-sm me-2">
																			<img class="avatar-img rounded-circle"
																				src="{{booking.hospitalstaffdoctor.hospital.profile_pic}}"
																				alt="User Image">
																		</a>
																		<a href="doctor-profile.html">{{booking.hospital.hopital_name}}
																			<span>{{booking.hospital.specialist}}</span></a>
																	</h2>
																</td>
																<td>{{booking.applied_date}} <span class="d-block text-info">{{booking.applied_time}}
																		</span></td>
																<td>{{booking.created_at}}</td>
																<td>{{booking.amount}}</td>
																<td>{{booking.updated_at}}</td>
																<td><span
																		class="badge rounded-pill bg-success-light">{{booking.status}}</span>
																</td>
																<td class="text-end">
																	<div class="table-action">
																		<a href="javascript:void(0);"
																			class="btn btn-sm bg-primary-light">
																			<i class="fas fa-print"></i> Print
																		</a>
																		<a href="{% url 'booking_confirmation' booking.id %}"
																			class="btn btn-sm bg-info-light">
																			<i class="far fa-eye"></i> View
																		</a>
																	</div>
																</td>
															</tr>
														{% endfor %}
															
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>


									<div class="tab-pane fade" id="pat_prescriptions">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Labs</th>
																<th>Appt Date</th>
																<th>Booking Date</th>
																<th>Amount</th>																
																<th>Status</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
														{% for labbooks in booking_labtest_list %}
															<tr>
																<td> 
																	<h2 class="table-avatar">
																		<a href="{% url 'laboratory_details' labbooks.labbook.lab.id %}"
																			class="avatar avatar-sm me-2">
																			<img class="avatar-img rounded-circle"
																				src="{{labbooks.labbook.lab.profile_pic}}"
																				alt="User Image">
																		</a>
																		<a href="doctor-profile.html">{{labbooks.labbook.lab}}
																			<span></span></a>
																	</h2>
																</td>
																<td>{{labbooks.labbook.applied_date}}  <span class="d-block text-info">{{labbooks.labbook.applied_time}}
																		</span></td>
																<td>{{labbooks.labbook.created_at}}</td>
																<td>{{labbooks.labbook.amount}}</td>
																
																<td><span
																		class="badge rounded-pill bg-success-light">{{labbooks.labbook.status}}</span>
																</td>
																<td class="text-end">
																	<div class="table-action">
																		<a href="javascript:void(0);"
																			class="btn btn-sm bg-primary-light">
																			<i class="fas fa-print"></i> Print
																		</a>
																		<a href="{% url 'lab_confirmation' labbooks.labbook.id %}"
																			class="btn btn-sm bg-info-light">
																			<i class="far fa-eye"></i> View
																		</a>
																	</div>
																</td>
															</tr>
														{% endfor %}
															
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>


									<div id="pat_medical_records" class="tab-pane fade">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Pharmacy</th>
																<th>Appt Date</th>
																<th>Booking Date</th>
																<th>Amount</th>
																
																<th>Status</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
														{% for pharmacy in pharmacys %}
															<tr>
																<td>
																	<h2 class="table-avatar">
																		<a href="{% url 'pharmacy_details' pharmacy.pharmacy.id %}"
																			class="avatar avatar-sm me-2">
																			<img class="avatar-img rounded-circle"
																				src="{{pharmacy.pharmacy.profile_pic}}"
																				alt="User Image">
																		</a>
																		<a href="{% url 'pharmacy_details' pharmacy.pharmacy.id %}">{{pharmacy.pharmacy.pharmacy_name}}
																			<span></span></a>
																	</h2>
																</td>
																<td>{{pharmacy.applied_date}} <span class="d-block text-info">{{pharmacy.applied_time}}
																		</span></td>
																<td>{{pharmacy.created_at}}</td>
																<td>{{pharmacy.amount}}</td>
																
																<td><span
																		class="badge rounded-pill bg-success-light">{{pharmacy.status}}</span>
																</td>
																<td class="text-end">
																	<div class="table-action">
																		<a href="javascript:void(0);"
																			class="btn btn-sm bg-primary-light">
																			<i class="fas fa-print"></i> Print
																		</a>
																		<a href="{% url 'pharmacy_confirmation' pharmacy.id %}"
																			class="btn btn-sm bg-info-light">
																			<i class="far fa-eye"></i> View
																		</a>
																	</div>
																</td>
															</tr>
														{% endfor %}
															
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>


									<div id="pat_billing" class="tab-pane fade">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Invoice No</th>
																<th>Doctor</th>
																<th>Amount</th>
																<th>Paid On</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
														
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
			 	
		
{% endblock content %}

 {% block modal_fade %}
       
	
	<div class="modal fade custom-modal show" id="graph1">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">BMI Status</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="bmi-status"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade custom-modal show" id="graph2">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Heart Rate Status</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="heartrate-status"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade custom-modal show" id="graph3">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">FBC Status</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="fbc-status"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade custom-modal show" id="graph4">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Weight Status</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="weight-status"></div>
				</div>
			</div>
		</div>
	</div>

 {% endblock modal_fade %}
{% block custom_js %}{% endblock custom_js %}
