{% extends 'patient/newbase.html' %}
{% load static %}
{% block title %} :: Relief Pro:: Profile-settings {% endblock title %}

{% block custom_css %}<script src="{% static 'newstatic/assets/js/cities.js' %} "></script>{% endblock custom_css %}
 
{% block content %}
	 
		
		<div class="col-md-7 col-lg-8 col-xl-9">
			<div class="card">
				<div class="card-body">

					<form id="myform" method="post" enctype="multipart/form-data">
					{% csrf_token %}
						<div class="row form-row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<div class="change-avatar media_div_row">
										<div class="profile-img">
											<img src="{{request.user.profile_pic}}"  onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'" alt="User Image" class="img_preview">
										</div>
										<div class="upload-img ">
											<div class="change-photo-btn">
												<span><i class="fa fa-upload"></i> Upload Photo</span>
												<input type="file" class="upload select_media" name="profile_pic">
											</div>
											<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
												size of 2MB</small>
										</div>
									</div>
								</div>
							</div>			 	
							
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label  class="form-label">Title *</label>
									<select class="form-select" aria-label="Default select example" name="name_title">
									<option {% if request.user.name_title == "Mr." %}selected{% endif %} value="Mr."> Mr.</option>
									<option {% if request.user.name_title == "Mrs." %}selected{% endif %} value="Mrs."> Mrs.</option>
									<option {% if request.user.name_title == "Miss" %}selected{% endif %} value="Miss"> Miss</option>
									<option {% if request.user.name_title == "Ms." %}selected{% endif %} value="Ms."> Ms.</option>
									<option {% if request.user.name_title == "Dr." %}selected{% endif %} value="Dr."> Dr.</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>First Name *</label>
									<input type="text" class="form-control" value="{{request.user.first_name}}" required  name="fisrt_name">
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Last Name *</label>
									<input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{request.user.last_name}}" required >
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Username *</label>
									<input type="text" class="form-control" name="username" placeholder="Username"  required  disabled="disabled" required value="{{request.user.username}}" >
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Date of Birth *</label>
									
										<input type="date" class="form-control"
											name="dob" placeholder="Date of Birth" value="{{patient.dob|date:'Y-m-d'}}" required>
									
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label  class="form-label">Blood Group *</label>
										<select class="form-select" aria-label="Default select example" name="bloodgroup" required>
											<option selected disabled>Blood Group</option>
											<option {% if patient.bloodgroup == "A+" %}selected{% endif %} value="A+">A+</option>
											<option {% if patient.bloodgroup == "A-" %}selected{% endif %} value="A-">A-</option>
											<option {% if patient.bloodgroup == "B+" %}selected{% endif %} value="B+">B+</option>
											<option {% if patient.bloodgroup == "B-" %}selected{% endif %} value="B-">B-</option>
											<option {% if patient.bloodgroup == "AB-" %}selected{% endif %} value="AB-">AB-</option>
											<option {% if patient.bloodgroup == "AB+" %}selected{% endif %} value="AB+">AB+</option>
											<option {% if patient.bloodgroup == "O-" %}selected{% endif %} value="O-">O-</option>
											<option {% if patient.bloodgroup == "O+" %}selected{% endif %} value="O+">O+</option>
											
										</select>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Email ID *</label>
									<input type="email" class="form-control" name="email" placeholder="email"  required value="{{request.user.email}}" disabled="disabled">
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Mobile *</label>
									<input type="text" class="form-control" id="phone" name="phone" disabled="disabled" placeholder="Mobile"  required value="{{request.user.phone}}">
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Alternate Mobile </label>
									<input type="tel" id="phone" class="form-control" name="alternate_mobile" placeholder="Alternate Mobile" value="{{patient.alternate_mobile}}">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label>Address *</label>
									<input type="text" class="form-control" name="address" placeholder="address" value="{{patient.address}}" required>
								</div>
							</div> 
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="city" class="form-label">State *</label>
									<select onchange="print_city('state', this.selectedIndex);" id="sts" name ="state" class="form-control" value="{{patient.state}}">
										{% if patient.state %}
										<option value="{{patient.state}}"selected>{{patient.state}}</option>
										{% endif %} 
									</select> 
								</div>
							</div>   
							<div class="col-12 col-md-6"> 
								<div class="form-group">
									<label for="state" class="form-label">City</label>
									<select id ="state" class="form-control" name="city" required value="{{patient.city}}">
										{% if patient.city %}
										<option value="{{patient.city}}"selected>{{patient.city}}</option>
										{% endif %}
									</select>
                                            <script language="javascript">print_state("sts");</script>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Zip Code</label>
									<input type="text" class="form-control" name="pin_code" placeholder="Pin Code" value="{{patient.pin_code}}" required>
								</div>
							</div>  
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Country</label>
									<input type="text" class="form-control" name="country" placeholder="Country"  required value="India">
								</div>
							</div> 
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label>Blood Donation Date</label>
									<input type="date" class="form-control" name="blood_docation_date" placeholder="Country" value="{{patient.blood_docation_date|date:'Y-m-d'}}" >
								</div>
							</div>
						</div> 
						<div class="col-12 col-md-6">
							<label  class="form-label">Would You To Join Blood Bank(Needy will Contact you)?</label>
							<div class="row">
								<div class="col-md-6">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="blood_donation" id="exampleRadios1" value="1" {% if patient.blood_donation == 1%}checked{% endif %}>
										<label class="form-check-label" for="exampleRadios1">
										  Yes I am.
										</label>
									</div>
								</div> 
								<div class="col-md-6">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="blood_donation" id="exampleRadios2" value="0" {% if patient.blood_donation == 0  %}checked{% endif %}>
										<label class="form-check-label" for="exampleRadios2">
											No I am not.
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="select-gender-col">
								<div class="row">
									<div class="col-6 pe-0">
										<input type="radio" id="test1" name="gender" value="Male" required {% if patient.gender == "Male"  %}checked{% endif %}>
										<label for="test1">
											<span class="gender-icon"><img src="{% static 'newstatic/assets/img/icons/male.png'%}"
													alt=""></span>
											<span>Male</span>
										</label>
									</div>
									<div class="col-6 ps-2">
										<input type="radio" id="test2" name="gender" value="Female" required {% if patient.gender == "Female"  %}checked{% endif %}>
										<label for="test2">
											<span class="gender-icon"><img src="{% static 'newstatic/assets/img/icons/female.png'%}"
													alt=""></span>
											<span>Female</span>
										</label>
									</div>
								</div>
							</div>
							<br>
						
					</form>
					<div class="submit-section">
							<button type="submit" class="btn btn-primary submit_btn">Save Changes</button>
						</div>

				</div>
			</div>
		</div>
			
		
{% endblock content %}

{% block modal_fade %}
{% endblock modal_fade %}
{% block custom_js %}
<script>
 $(".submit_btn").click(function(){
        var form=new FormData($("#myform")[0]);
       // form.append("long_desc",tinyMCE.activeEditor.getContent());

        //Ajax code
		console.log("inside")
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange=function(){
            if(xhr.status==200){
                console.log(xhr.responseText);
            }
        }
        xhr.open("POST","{% url 'patient_update' %}",true);
        //$("#progressbar").show();
        
         

        //Updating Prograssbar
       // xhr.upload.addEventListener("progress",function(ev){
       //     if(ev.lengthComputable){
       //         var percentage=(ev.loaded/ev.total*100|0);
        //        $("#progressbar").css({"width":""+percentage+"%"}).text("Uploading..."+percentage+"%");
        //        console.log(percentage);
                
        //    }
       // });
        xhr.send(form);
        setTimeout(location.reload.bind(location), 1000);
       //	window.location.href = "{% url 'patient_home' %}";

    }) 
</script>

<script>
	$(document).on("change",".select_media",function(){
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        showPreviewMedia(this,img_preview);

    });

    function showPreviewMedia(input,img_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
            img_preview.attr("src",e.target.result);
            img_preview.show();
            img_preview.css({"border":"5px solid primary"});
            img_preview.css({"border-radius":"2px"});
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
	document.getElementById('sts').value="{{patient.state}}";
</script>
{% endblock custom_js %} 