{% extends 'hospital/blank-page.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
	<div class="col-md-7 col-lg-8 col-xl-9">
		<div class="doc-review review-listing">
			<div class="row mb-5">
				<div class="col">
					
				</div>
				<div class="col-auto">
					<a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#AddMedia"><i
							class="fas fa-plus me-1"></i> Add Media</a>
				</div>
				{% comment %} <div class="col-auto">
					<a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteNotConfirmModal"><i
							class="fas fa-plus me-1"></i> Delete Media</a>
				</div> {% endcomment %}
			</div>

			<div class="row blog-grid-row">
			{% for hospitalmedia in page_obj %}
				<div class="col-md-6 col-xl-4 col-sm-12">

					<div class="blog grid-blog">
						<div class="blog-image">
							{% if hospitalmedia.media_type == "1" %}
							<img class="img-fluid" style="width:220;height:200px;"
									src="{{hospitalmedia.get_media_content_url}}" alt="Post Image">
							{% elif hospitalmedia.media_type == "2" %}
								<video class="img-fluid" style="width:220;height:200px;" controls src="{{hospitalmedia.get_media_content_url}}" alt="Post Image">
							{% endif %}
						</div>
						<div class="blog-content">
							
							<h3 class="blog-title">{{hospitalmedia.media_desc}}</h3>
						</div>
						<div class="row pt-3">
							<div class="col text-end"><a href="{% url 'delete_gallery' hospitalmedia.id %}" class="text-danger"
									><i
										class="far fa-trash-alt"></i> Delete</a></div>
						</div>
					</div>

				</div>
			{% endfor %}
				
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="blog-pagination">
						<nav>
							<ul class="pagination justify-content-center">
								{% if page_obj.has_previous %}
                             <li class="page-item">
                                 <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i
                                         class="fas fa-angle-double-left"></i></a>
                             </li>
                             {% endif %}

                             <li class="page-item active">
                                 <a class="page-link" href="#">{{ page_obj.number }}<span
                                         class="visually-hidden">(current)</span></a>
                             </li>
                             {% if page_obj.has_next %}
                             <li class="page-item">
                                 <a class="page-link" href="?page={{page_obj.next_page_number}}"><i
                                         class="fas fa-angle-double-right"></i></a>
                             </li>
                             {% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>


		</div>
	</div>
{% endblock content %}


{% block modal_fade %}
    <div class="modal fade" id="AddMedia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
           
			<div class="modal-content">
            <form id="mediaform1" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="acc_title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					 <div class="col-md-12">
                    <label for="media_type" class="form-label">Media Type</label>
                    <select class="form-select media_type" aria-label="Default select example" id="media_type" name="media_type">
                        <option selected="" value="1">Image</option>
                        <option value="2">Video</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="formFileMultiple" class="form-label"> File Upload</label>
                    <input class="form-control" type="file" id="get_media_content_url" name="get_media_content_url[]" multiple="" required="">
                </div>
                <div class="col-md-12">
                    <label for="formFileMultiple" class="form-label">Description</label>
                    <input class="form-control" type="text" multiple="" id="media_desc" name="media_desc" required="">
                </div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success si_accept_confirm">Add</a>
					<button type="button" class="btn btn-danger si_accept_cancel"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="acc_title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="acc_msg"></p>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-success si_accept_confirm">Yes</a>
					<button type="button" class="btn btn-danger si_accept_cancel"
						data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="deleteNotConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="acc_title">Inactive Service?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="acc_msg">Service is Booked and Inprogress..</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger si_accept_cancel" data-bs-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
{% endblock modal_fade %}

{% block custom_js %}
<script>
$('#mediaform').submit(function(event){

    var formData = {
        'media_type': $('input[name=media_type[]').val(),
        'get_media_content_url[]': $('input[name=get_media_content_url[]]').val(),
        'media_desc': $('input[name=media_desc]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
        type: 'POST',
        url: "{% url 'manage_gallery' %}",
        data: formData,
        encode: true 

    })
});
</script>
{% endblock custom_js %}