{% load static %}
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img src="{{request.user.profile_pic}}" alt="User Image" id="currentPhoto1" onerror="this.onerror=null; this.src='{% static 'newstatic/assets/img/icons/male.png' %}'">
                </a>
                <div class="profile-det-info">
                    <h3>{{request.user.hospitals.hopital_name|upper}}</h3>
                    <div class="patient-details">
                        {% comment %} <h5 class="mb-0">{{request.user.hospitals.hopital_name|upper}}</h5><br> {% endcomment %}
                       <h5 class="mb-3"> Commission Rate : {{request.user.share|upper}} %</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    {% url 'hospital_dashboard' as hospital_dashboard %}
                    <li {% if request.path == hospital_dashboard %} class="active" {% endif %} >
                        <a href="{% url 'hospital_dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    {% if request.user.is_verified == "Yes" %}
                    {% url 'manage_appointment' as manage_appointment %}
                    <li {% if request.path == manage_appointment %} class="active" {% endif %} >
                        <a href="{% url 'manage_appointment' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>

                    {% comment %} <li>
                        <a href="{% url 'hospital_dashboard' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Departments</span>
                        </a>
                    </li> {% endcomment %}
                    
                    {% url 'manage_patient' as manage_patient %}
                    <li {% if request.path == manage_patient %} class="active" {% endif %}>
                        <a href="{% url 'manage_patient' %}">
                            <i class="fas fa-user-injured"></i>
                            <span>Hospital Patients</span>
                        </a>
                    </li>
                    {% url 'manage_relief_patient' as manage_relief_patient %}
                    <li {% if request.path == manage_relief_patient %} class="active" {% endif %} >
                        <a href="{% url 'manage_relief_patient' %}">
                            <i class="fas fa-user-injured"></i>
                            <span>Relief Patients</span>
                        </a>
                    </li>
                    {% url 'manage_disease' as manage_disease %}
                    <li {% if request.path == manage_disease %} class="active" {% endif %} >
                        <a href="{% url 'manage_disease' %}">
                            <i class="fas fa-procedures"></i>
                            <span>Diseases</span>
                        </a>
                    </li>
                    {% url 'manage_room' as manage_room %}
                    <li {% if request.path == manage_room %} class="active" {% endif %} >
                        <a href="{% url 'manage_room' %}">
                            <i class="fas fa-hospital"></i>
                            <span>Rooms</span>
                        </a>
                    </li>
                    {% url 'manage_ambulance' as manage_ambulance %}
                    <li {% if request.path == manage_ambulance %} class="active" {% endif %} >
                        <a href="{% url 'manage_ambulance' %}">
                            <i class="fas fa-ambulance"></i>
                            <span>Ambulance</span>
                        </a>
                    </li>
                    
                    {% url 'manage_gallery' as manage_gallery %}
                    <li {% if request.path == manage_gallery %} class="active" {% endif %} >
                        <a href="{% url 'manage_gallery' %}">
                            <i class="far fa-images"></i>
                            <span>Gallery</span>
                        </a>
                    </li>
                    {% comment %} {% url 'list_blog' as list_blog %}
                    {% url 'add_blog' as add_blog %}
                    {% url 'edit_blog' as edit_blog %}
                    <li {% if request.path == list_blog %} class="active" {% endif %} {% if request.path == add_blog %} class="active" {% endif %} {% if request.path == edit_blog %} class="active" {% endif %} >
                        <a href="{% url 'list_blog' %}">
                            <i class="fas fa-blog"></i>
                            <span>Blogs</span>
                        </a>
                    </li> {% endcomment %}
                    {% url 'manage_doctor' as manage_doctor %}
                    <li {% if request.path == manage_doctor %} class="active" {% endif %} >
                        <a href="{% url 'manage_doctor' %}">
                            <i class="fas fa-user-md"></i>
                            <span>Doctors</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="#">
                            <i class="fas fa-file-invoice"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    
                    {% url 'hospitalreviews' as hospitalreviews %}  
                    <li {% if request.path == hospitalreviews %} class="active" {% endif %} >
                        <a href="{% url 'hospitalreviews' %}">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li> {% endif %}
                    {% comment %} <li>
                        <a href="#">
                            <i class="fas fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">23</small>
                        </a>
                    </li> {% endcomment %}
                    
                </ul>
            </nav>
        </div>
    </div>